n8n/workflows/account_insights_v1.json
{
  "name": "Account Insights v1 - Slack Bot (3 Insight Types)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        24320,
        8432
      ],
      "id": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
      "name": "Slash Command Webhook",
      "webhookId": "b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response_type\": \"in_channel\",\n  \"text\": \"\u23f3 Running Account Insights analysis (3 insight types: Neglected, Surging, Expansion)... This typically takes 2-4 minutes as I analyze account activity, detect engagement patterns, and identify opportunities. I'll post the full report here when done!\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "Acknowledge Slash Command",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        24544,
        8432
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Extract Slash Command Data - ROBUST VERSION\n * \n * n8n webhook nodes can put form-urlencoded POST data in different places:\n *   - $json.body (parsed object)\n *   - $json directly (top-level fields)\n *   - $json.body as a string (needs parsing)\n * \n * This code checks ALL possible locations with detailed logging.\n */\n\nconst webhookData = $('Slash Command Webhook').first().json;\n\nconsole.log('\ud83d\udce8 RAW WEBHOOK PAYLOAD:');\nconsole.log('   Top-level keys:', Object.keys(webhookData).join(', '));\n\nif (webhookData.body) {\n  console.log('   body type:', typeof webhookData.body);\n  if (typeof webhookData.body === 'object') {\n    console.log('   body keys:', Object.keys(webhookData.body).join(', '));\n  }\n}\n\nif (webhookData.headers) {\n  const ct = webhookData.headers['content-type'] || webhookData.headers['Content-Type'] || 'unknown';\n  console.log('   Content-Type:', ct);\n}\n\nfunction findField(fieldName) {\n  if (webhookData[fieldName] !== undefined && webhookData[fieldName] !== '') {\n    console.log(`   \u2705 ${fieldName} found at top-level: \"${webhookData[fieldName]}\"`);\n    return String(webhookData[fieldName]);\n  }\n  if (webhookData.body && typeof webhookData.body === 'object' && webhookData.body[fieldName] !== undefined) {\n    console.log(`   \u2705 ${fieldName} found in body: \"${webhookData.body[fieldName]}\"`);\n    return String(webhookData.body[fieldName]);\n  }\n  if (webhookData.body && typeof webhookData.body === 'string') {\n    const params = new URLSearchParams(webhookData.body);\n    const val = params.get(fieldName);\n    if (val) {\n      console.log(`   \u2705 ${fieldName} parsed from body string: \"${val}\"`);\n      return val;\n    }\n  }\n  if (webhookData.query && webhookData.query[fieldName]) {\n    console.log(`   \u2705 ${fieldName} found in query: \"${webhookData.query[fieldName]}\"`);\n    return String(webhookData.query[fieldName]);\n  }\n  if (webhookData.params && webhookData.params[fieldName]) {\n    console.log(`   \u2705 ${fieldName} found in params: \"${webhookData.params[fieldName]}\"`);\n    return String(webhookData.params[fieldName]);\n  }\n  console.log(`   \u274c ${fieldName} NOT FOUND in any location`);\n  return '';\n}\n\nconsole.log('\\n\ud83d\udd0d Searching for slash command fields:');\n\nconst userId = findField('user_id');\nconst userName = findField('user_name');\nconst channelId = findField('channel_id');\nconst channelName = findField('channel_name');\nconst responseUrl = findField('response_url');\nconst commandText = findField('text');\nconst teamDomain = findField('team_domain');\n\nconsole.log('\\n\ud83d\udcca EXTRACTED VALUES:');\nconsole.log(`   \ud83d\udc64 User: @${userName} (${userId})`);\nconsole.log(`   \ud83d\udcfa Channel: #${channelName} (${channelId})`);\nconsole.log(`   \ud83d\udd17 Response URL: ${responseUrl ? responseUrl.substring(0, 60) + '...' : 'MISSING'}`);\nconsole.log(`   \ud83d\udcdd Text: \"${commandText}\"`);\n\nif (!userId) {\n  console.error('\ud83d\udea8 CRITICAL: No user_id found! Full payload dump:');\n  console.error(JSON.stringify(webhookData, null, 2).substring(0, 2000));\n}\n\nreturn [{\n  json: {\n    userId,\n    userName,\n    channelId,\n    channelName,\n    responseUrl,\n    commandText,\n    teamDomain,\n    _raw: webhookData\n  }\n}];\n"
      },
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f80",
      "name": "Extract Slash Command Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24768,
        8432
      ]
    },
    {
      "parameters": {
        "url": "=https://slack.com/api/users.info?user={{ $json.userId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-4e1f-2a3b-4c5d6e7f8091",
      "name": "Get User Email from Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        24992,
        8432
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LluVuiMJ8NUbAiG7",
          "name": "Slackbot Auth Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Merge User Context - ROBUST VERSION\n * Handles cases where email scope might be missing\n */\n\nconst slashData = $('Extract Slash Command Data').first().json;\nconst slackResponse = $input.first().json;\n\nconsole.log('\ud83d\udc64 Slack API Response keys:', Object.keys(slackResponse).join(', '));\nconsole.log('   ok:', slackResponse.ok);\n\nconst userObj = slackResponse.user || {};\nconst userProfile = userObj.profile || {};\nlet userEmail = userProfile.email || userObj.email || '';\n\nif (!userEmail && slackResponse.profile) {\n  userEmail = slackResponse.profile.email || '';\n}\n\nconst realName = userObj.real_name || userProfile.real_name || slashData.userName || 'there';\n\nconsole.log('\ud83d\udce7 Email extraction:');\nconsole.log('   user.profile.email:', userProfile.email || '(not present)');\nconsole.log('   user.email:', userObj.email || '(not present)');\nconsole.log('   Final email:', userEmail || '(NONE - bot may lack users:read.email scope)');\nconsole.log('   Real name:', realName);\nconsole.log('   Channel ID:', slashData.channelId);\nconsole.log('   Response URL:', slashData.responseUrl ? 'Present' : 'MISSING');\n\nif (!userEmail) {\n  console.warn('\u26a0\ufe0f No email found. Possible fixes:');\n  console.warn('   1. Add \"users:read.email\" scope to your Slack bot');\n  console.warn('   2. Reinstall the app after adding the scope');\n}\n\nreturn [{\n  json: {\n    userId: slashData.userId,\n    userName: slashData.userName,\n    realName: realName,\n    userEmail: userEmail,\n    channelId: slashData.channelId,\n    channelName: slashData.channelName,\n    responseUrl: slashData.responseUrl,\n    commandText: slashData.commandText,\n    teamDomain: slashData.teamDomain\n  }\n}];\n"
      },
      "id": "f6a7b8c9-d0e1-4f2a-3b4c-5d6e7f809102",
      "name": "Merge User Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25216,
        8432
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "days_lookback",
              "type": "number",
              "value": 30,
              "id": "a0b1c2d3-e4f5-4a6b-7c8d-9e0f1a2b3c4d"
            },
            {
              "name": "engagement_threshold",
              "type": "number",
              "value": 0,
              "id": "b1c2d3e4-f5a6-4b7c-8d9e-0f1a2b3c4d5e"
            },
            {
              "name": "slack_channel",
              "type": "string",
              "value": "={{ $node['Merge User Context'].json.channelId }}",
              "id": "c2d3e4f5-a6b7-4c8d-9e0f-1a2b3c4d5e6f"
            },
            {
              "name": "user_email",
              "type": "string",
              "value": "={{ $node['Merge User Context'].json.userEmail }}",
              "id": "d3e4f5a6-b7c8-4d9e-0f1a-2b3c4d5e6f70"
            },
            {
              "name": "user_name",
              "type": "string",
              "value": "={{ $node['Merge User Context'].json.realName }}",
              "id": "e4f5a6b7-c8d9-4e0f-1a2b-3c4d5e6f7081"
            },
            {
              "name": "response_url",
              "type": "string",
              "value": "={{ $node['Merge User Context'].json.responseUrl }}",
              "id": "f5a6b7c8-d9e0-4f1a-2b3c-4d5e6f708192"
            },
            {
              "name": "peopleai_client_id",
              "type": "string",
              "value": "=zYedL8iWkGyY",
              "id": "06a7b8c9-d0e1-4f2a-3b4c-5d6e7f8091a2"
            },
            {
              "name": "peopleai_client_secret",
              "type": "string",
              "value": "=E0d2ErottkpSBcM1cQKjwxPtuTnyJxSFoSG1eUqyNKVPEslY",
              "id": "17b8c9d0-e1f2-4a3b-4c5d-6e7f8091a2b3"
            },
            {
              "id": "28c9d0e1-f2a3-4b4c-5d6e-7f8091a2b3c4",
              "name": "sales_region",
              "value": "={{ ($node['Merge User Context'].json.commandText || '').trim().replace(/\\w\\S*/g, w => w.charAt(0).toUpperCase() + w.slice(1).toLowerCase()) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "39d0e1f2-a3b4-4c5d-6e7f-8091a2b3c4d5",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        25440,
        8432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.people.ai/v3/auth/tokens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $node['Workflow Parameters'].json.peopleai_client_id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $node['Workflow Parameters'].json.peopleai_client_secret }}"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        },
        "options": {}
      },
      "id": "4ae1f2a3-b4c5-4d6e-7f80-91a2b3c4d5e6",
      "name": "Get People.ai Auth Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        25664,
        8432
      ],
      "notes": "Get OAuth token from People.ai. Client ID and secret now referenced from Workflow Parameters node."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.people.ai/v3/beta/insights/export",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node['Get People.ai Auth Token'].json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const region = $node['Workflow Parameters'].json.sales_region;\n  const filters = [\n    {\n      $or: [\n        {\n          attribute: {\n            slug: \"ootb_account_count_of_meetings_standard\",\n            variation_id: \"ootb_account_count_of_meetings_standard_last_30_days\"\n          },\n          clause: { $gt: 0 }\n        },\n        {\n          attribute: { slug: \"ootb_account_count_of_emails\", variation_id: \"ootb_account_count_of_emails_last_30_days\" },\n          clause: { $gt: 0 }\n        }\n      ]\n    }\n  ];\n  if (region) {\n    filters.push({\n      attribute: { slug: \"account_sales_region__c\" },\n      clause: { $eq: region }\n    });\n  }\n  return JSON.stringify({\n    object: \"account\",\n    columns: [\n      { slug: \"ootb_account_id\" },\n      { slug: \"ootb_account_name\" },\n      { slug: \"ootb_account_original_owner\" },\n      { slug: \"ootb_account_domain\" },\n      { slug: \"ootb_account_engagement_level\" },\n      { slug: \"ootb_account_people_internal_id\" },\n      { slug: \"ootb_account_annual_revenue\", variation_id: \"ootb_account_annual_revenue_any_time\" },\n      { slug: \"ootb_account_count_of_meetings_standard\", variation_id: \"ootb_account_count_of_meetings_standard_last_week\" },\n      { slug: \"ootb_account_count_of_meetings_standard\", variation_id: \"ootb_account_count_of_meetings_standard_last_30_days\" },\n      { slug: \"ootb_account_count_of_emails\", variation_id: \"ootb_account_count_of_emails_last_week\" },\n      { slug: \"ootb_account_count_of_emails\", variation_id: \"ootb_account_count_of_emails_last_30_days\" },\n      { slug: \"ootb_account_count_of_external_people_contacted\", variation_id: \"ootb_account_count_of_external_people_contacted_last_30_days\" },\n      { slug: \"ootb_account_count_of_engaged_executives_external\", variation_id: \"ootb_account_count_of_engaged_executives_external_last_30_days\" }\n    ],\n    filter: { $and: filters }\n  });\n})() }}\n",
        "options": {}
      },
      "id": "5bf2a3b4-c5d6-4e7f-8091-a2b3c4d5e6f7",
      "name": "Get Account Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        25888,
        8432
      ]
    },
    {
      "parameters": {
        "jsCode": "const csvData = $json.data || '';\n\nif (!csvData || csvData.trim().length === 0) {\n  console.log('\u26a0\ufe0f No data returned from API');\n  return [{ json: { _empty: true } }];\n}\n\n// --- CSV parsing helpers ---\nfunction parseCSVLine(line) {\n  const vals = [];\n  let inQuotes = false;\n  let current = '';\n\n  for (let i = 0; i < line.length; i++) {\n    const c = line[i];\n\n    if (c === '\"' && (i === 0 || line[i - 1] !== '\\\\')) {\n      inQuotes = !inQuotes;\n      continue;\n    }\n\n    if (c === ',' && !inQuotes) {\n      vals.push(current);\n      current = '';\n      continue;\n    }\n\n    current += c;\n  }\n\n  vals.push(current);\n  return vals.map(v => v.trim());\n}\n\n// --- Parse CSV ---\nconst lines = csvData.trim().split(/\\r?\\n/);\nconst headers = parseCSVLine(lines[0]);\n\nconsole.log('\ud83d\udcca Headers:', headers);\n\n// --- Build account objects ---\nconst parsedAccounts = [];\n\nfor (let i = 1; i < lines.length; i++) {\n  const vals = parseCSVLine(lines[i]);\n  if (vals.length !== headers.length) continue;\n\n  const account = {};\n  headers.forEach((h, idx) => {\n    account[h] = vals[idx] || '';\n  });\n\n  parsedAccounts.push(account);\n}\n\nconsole.log(`\u2705 Parsed ${parsedAccounts.length} accounts from CSV`);\n\n// --- Output ---\nif (parsedAccounts.length === 0) {\n  console.log('\u26a0\ufe0f No accounts parsed - returning empty sentinel');\n  return [{ json: { _empty: true } }];\n}\nreturn parsedAccounts.map(a => ({ json: a }));\n"
      },
      "id": "6ca3b4c5-d6e7-4f80-91a2-b3c4d5e6f708",
      "name": "Parse Accounts CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26112,
        8432
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Extract Account Data - Run Once for All Items\n * Extracts and normalizes account fields from CSV headers into structured objects.\n */\n\nconst items = $input.all();\n\nif (items.length === 0 || (items.length === 1 && items[0].json._empty)) {\n  console.log('\u26a0\ufe0f No account data to extract - passing through empty');\n  return [{ json: { _empty: true } }];\n}\nconsole.log(`\ud83d\udd0d Extract Account Data: Processing ${items.length} items`);\n\nfunction findHeader(obj, keywords) {\n  const keys = Object.keys(obj);\n  for (const keyword of keywords) {\n    const found = keys.find(k => \n      k.toLowerCase().includes(keyword.toLowerCase())\n    );\n    if (found) return found;\n  }\n  return null;\n}\n\nfunction toNumber(x) {\n  const n = Number(String(x || '').replace(/[,$]/g, ''));\n  return Number.isFinite(n) ? n : 0;\n}\n\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  \n  if (i === 0) {\n    console.log('\ud83d\udccb Available keys:', Object.keys(item).join(', '));\n  }\n  \n  const accountId = item['Account ID'] || item.ootb_account_id || 'Unknown';\n  const accountName = item['Account Name'] || item.ootb_account_name || 'Unknown';\n  const accountOwner = item['Account Owner (name)'] || item.ootb_account_original_owner || 'Unassigned';\n  const accountDomain = item['Account Domain'] || item.ootb_account_domain || '';\n  const engagementLevel = toNumber(item['Account Engagement Level'] || item.ootb_account_engagement_level);\n  const peopleaiId = item['People.ai Internal ID'] || item.ootb_account_people_internal_id || null;\n  \n  // Revenue\n  const annualRevenueKey = findHeader(item, ['annual_revenue', 'annual revenue', 'Annual Revenue']);\n  const annualRevenue = toNumber(annualRevenueKey ? item[annualRevenueKey] : 0);\n  \n  // Meetings\n  const meetings7dKey = findHeader(item, ['meetings_standard_last_week', 'Meetings (Last 7 Days)', 'Meetings (Last Week)']);\n  const meetings30dKey = findHeader(item, ['meetings_standard_last_30_days', 'Meetings (Last 30 Days)']);\n  const meetings7d = toNumber(meetings7dKey ? item[meetings7dKey] : 0);\n  const meetings30d = toNumber(meetings30dKey ? item[meetings30dKey] : 0);\n  \n  // Emails\n  const emails7dKey = findHeader(item, ['emails_last_week', 'Emails (Last 7 Days)', 'Emails (Last Week)']);\n  const emails30dKey = findHeader(item, ['emails_last_30_days', 'Emails (Last 30 Days)']);\n  const emails7d = toNumber(emails7dKey ? item[emails7dKey] : 0);\n  const emails30d = toNumber(emails30dKey ? item[emails30dKey] : 0);\n  \n  // People contacted\n  const externalPeopleKey = findHeader(item, ['external_people_contacted_last_30', 'External People Contacted (Last 30 Days)']);\n  const externalPeople30d = toNumber(externalPeopleKey ? item[externalPeopleKey] : 0);\n  \n  // Engaged executives\n  const engagedExecsKey = findHeader(item, ['engaged_executives_external_last_30', 'Engaged Executives (Last 30 Days)']);\n  const engagedExecs30d = toNumber(engagedExecsKey ? item[engagedExecsKey] : 0);\n  \n  if (i < 3) {\n    console.log(`\u2705 Account ${i}: \"${accountName}\" Owner: \"${accountOwner}\" Engagement: ${engagementLevel} Revenue: ${annualRevenue} Meetings7d: ${meetings7d} Meetings30d: ${meetings30d}`);\n  }\n  \n  results.push({\n    json: {\n      accountId,\n      accountName,\n      accountOwner,\n      accountDomain,\n      engagementLevel,\n      peopleaiId,\n      annualRevenue,\n      meetings7d,\n      meetings30d,\n      emails7d,\n      emails30d,\n      externalPeople30d,\n      engagedExecs30d,\n      raw: item\n    }\n  });\n}\n\nconsole.log(`\u2705 Extracted ${results.length} accounts with full metrics`);\n\nreturn results;"
      },
      "id": "7db4c5d6-e7f8-4091-a2b3-c4d5e6f70819",
      "name": "Extract Account Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26336,
        8432
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Filter for Neglected Accounts\n * Criteria: engagement < 30 AND meetings_last_30_days <= 1\n * Sort by annual_revenue descending, take top 10\n */\n\nconst items = $input.all();\n\nif (items.length === 0 || (items.length === 1 && items[0].json._empty)) {\n  console.log('\u26a0\ufe0f No account data for neglected filter');\n  return [{ json: { _empty: true } }];\n}\n\nconsole.log(`\ud83d\udd0d Filtering for neglected accounts from ${items.length} total`);\n\nconst filtered = items.filter(item => {\n  const eng = item.json.engagementLevel || 0;\n  const meetings30d = item.json.meetings30d || 0;\n  return eng < 30 && meetings30d <= 1;\n});\n\nconsole.log(`\ud83d\udea8 Found ${filtered.length} neglected accounts (engagement < 30, meetings <= 1)`);\n\n// Sort by annual revenue descending\nfiltered.sort((a, b) => (b.json.annualRevenue || 0) - (a.json.annualRevenue || 0));\n\n// Take top 10\nconst top10 = filtered.slice(0, 10);\n\nconsole.log(`\u2705 Taking top ${top10.length} neglected accounts by annual revenue`);\ntop10.forEach((item, idx) => {\n  console.log(`  ${idx + 1}. ${item.json.accountName} - Revenue: $${(item.json.annualRevenue || 0).toLocaleString()} - Engagement: ${item.json.engagementLevel}%`);\n});\n\nif (top10.length === 0) {\n  return [{ json: { _empty: true } }];\n}\n\nreturn top10;"
      },
      "id": "8ec5d6e7-f809-41a2-b3c4-d5e6f7081920",
      "name": "Filter Neglected Accounts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26560,
        8200
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Filter for Surging Accounts\n * Criteria: engagement >= 50 AND (meetings_7d / meetings_30d) > 0.4 (accelerating)\n * Sort by engagement descending, take top 10\n */\n\nconst items = $input.all();\n\nif (items.length === 0 || (items.length === 1 && items[0].json._empty)) {\n  console.log('\u26a0\ufe0f No account data for surging filter');\n  return [{ json: { _empty: true } }];\n}\n\nconsole.log(`\ud83d\udd0d Filtering for surging accounts from ${items.length} total`);\n\nconst filtered = items.filter(item => {\n  const eng = item.json.engagementLevel || 0;\n  const meetings7d = item.json.meetings7d || 0;\n  const meetings30d = item.json.meetings30d || 0;\n  \n  if (eng < 50) return false;\n  if (meetings30d === 0) return false;\n  \n  const ratio = meetings7d / meetings30d;\n  return ratio > 0.4;\n});\n\nconsole.log(`\ud83d\udcc8 Found ${filtered.length} surging accounts (engagement >= 50, meeting acceleration > 0.4)`);\n\n// Sort by engagement descending\nfiltered.sort((a, b) => (b.json.engagementLevel || 0) - (a.json.engagementLevel || 0));\n\n// Take top 10\nconst top10 = filtered.slice(0, 10);\n\nconsole.log(`\u2705 Taking top ${top10.length} surging accounts by engagement`);\ntop10.forEach((item, idx) => {\n  const ratio = item.json.meetings30d > 0 ? (item.json.meetings7d / item.json.meetings30d).toFixed(2) : 0;\n  console.log(`  ${idx + 1}. ${item.json.accountName} - Engagement: ${item.json.engagementLevel}% - Acceleration: ${ratio}`);\n});\n\nif (top10.length === 0) {\n  return [{ json: { _empty: true } }];\n}\n\nreturn top10;"
      },
      "id": "9fd6e7f8-0910-4a2b-3c4d-5e6f70819203",
      "name": "Filter Surging Accounts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26560,
        8432
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Filter for Expansion Candidates\n * Criteria: engagement >= 60 AND external_people_contacted_30d >= 3 AND engaged_executives_30d >= 1\n * Sort by engagement descending, take top 10\n */\n\nconst items = $input.all();\n\nif (items.length === 0 || (items.length === 1 && items[0].json._empty)) {\n  console.log('\u26a0\ufe0f No account data for expansion filter');\n  return [{ json: { _empty: true } }];\n}\n\nconsole.log(`\ud83d\udd0d Filtering for expansion candidates from ${items.length} total`);\n\nconst filtered = items.filter(item => {\n  const eng = item.json.engagementLevel || 0;\n  const externalPeople = item.json.externalPeople30d || 0;\n  const engagedExecs = item.json.engagedExecs30d || 0;\n  \n  return eng >= 60 && externalPeople >= 3 && engagedExecs >= 1;\n});\n\nconsole.log(`\ud83d\udc8e Found ${filtered.length} expansion candidates (engagement >= 60, people >= 3, execs >= 1)`);\n\n// Sort by engagement descending\nfiltered.sort((a, b) => (b.json.engagementLevel || 0) - (a.json.engagementLevel || 0));\n\n// Take top 10\nconst top10 = filtered.slice(0, 10);\n\nconsole.log(`\u2705 Taking top ${top10.length} expansion candidates by engagement`);\ntop10.forEach((item, idx) => {\n  console.log(`  ${idx + 1}. ${item.json.accountName} - Engagement: ${item.json.engagementLevel}% - People: ${item.json.externalPeople30d} - Execs: ${item.json.engagedExecs30d}`);\n});\n\nif (top10.length === 0) {\n  return [{ json: { _empty: true } }];\n}\n\nreturn top10;"
      },
      "id": "a0e7f809-1a2b-4c3d-4e5f-6f7081920314",
      "name": "Filter Expansion Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26560,
        8664
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are analyzing accounts that have gone silent \u2014 customer accounts or accounts with open pipeline where recent engagement has dropped to near zero. Your job is to assess the risk of continued neglect and recommend specific re-engagement actions.\n\n**ACCOUNT DATA:**\n- Name: {{ $json.accountName }}\n- Owner: {{ $json.accountOwner }}\n- Engagement Level: {{ $json.engagementLevel }}%\n- Annual Revenue: ${{ $json.annualRevenue }}\n- Domain: {{ $json.accountDomain }}\n- People.ai ID: {{ $json.peopleaiId }}\n- Meetings (7d): {{ $json.meetings7d }} | Meetings (30d): {{ $json.meetings30d }}\n- Emails (7d): {{ $json.emails7d }} | Emails (30d): {{ $json.emails30d }}\n- External People Contacted (30d): {{ $json.externalPeople30d }}\n- Engaged Executives (30d): {{ $json.engagedExecs30d }}\n\n**YOUR TASK:**\nUse the People.ai MCP tools to analyze the last 30 days of activity for this account and assess the neglect risk.\n\n**ANALYSIS FRAMEWORK:**\nFor this neglected account, evaluate:\n\n1. **Why might this account be neglected?**\n   - Owner bandwidth (too many accounts, distracted by larger deals)\n   - Assumed stability (long-tenured customer, \"they'll renew anyway\")\n   - No clear next step (last engagement ended without follow-up)\n   - Relationship gap (primary contact left, no replacement identified)\n\n2. **What is the risk of continued neglect?**\n   - Critical: Open pipeline + zero meetings in 30d + no emails received\n   - High: Customer account + no engagement + renewal within 6 months\n   - Medium: Active pipeline but declining engagement trend\n   - Low: Small account with no immediate pipeline at stake\n\n3. **What specific action should the owner take to re-engage?**\n   - Schedule exec alignment call with customer leadership\n   - Send value-add content (not \"just checking in\")\n   - Initiate business review / QBR\n   - Reassign account if owner is unresponsive\n\n4. **What is the revenue at risk?**\n   - Open pipeline value + estimated renewal value\n\n**OUTPUT FORMAT:**\n---\n**ACCOUNT_NAME:** {{ $json.accountName }}\n**ACCOUNT_ID:** {{ $json.peopleaiId }}\n**RISK_LEVEL:** critical/high/medium/low\n**CONFIDENCE:** high/medium/low\n\n**NEGLECT_REASON:** [One sentence explaining why this account is neglected]\n\n**RISKS:**\n- [Risk 1 with specific evidence]\n- [Risk 2 with specific evidence]\n\n**REVENUE_AT_RISK:** [Dollar estimate]\n\n**RECOMMENDATION:** [One specific re-engagement action]\n---\n\nBe direct and action-oriented. Include specific metric values to justify each insight.",
        "options": {
          "systemMessage": "You are an account health analyst specializing in detecting neglected accounts. Be direct and action-oriented \u2014 no filler phrases."
        }
      },
      "id": "b1f80910-2a3b-4c4d-5e6f-708192031425",
      "name": "MCP Analyze Neglected Account",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        26784,
        8200
      ],
      "alwaysOutputData": true,
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        26800,
        8016
      ],
      "id": "c2091a2b-3c4d-4e5f-6f70-819203142536",
      "name": "Chat Model Neglected",
      "credentials": {
        "anthropicApi": {
          "id": "rlAz7ZSl4y6AwRUq",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        26928,
        8016
      ],
      "id": "d31a2b3c-4d5e-4f6f-7081-920314253647",
      "name": "MCP Client Neglected",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "wvV5pwBeIL7f2vLG",
          "name": "People.ai MCP Multi-Header"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handle empty input\nif ($input.all().length === 1 && $input.all()[0].json._empty) {\n  return [{ json: { _empty: true } }];\n}\n\nconst aiOutputs = $input.all();\nconst originalData = $('Filter Neglected Accounts').all();\n\nconsole.log(`\ud83d\udd17 Pass Through Neglected: Merging ${aiOutputs.length} AI outputs with ${originalData.length} accounts`);\n\nconst results = aiOutputs.map((aiItem, idx) => {\n  const original = originalData[idx]?.json || {};\n  const aiOutput = aiItem.json.output || aiItem.json.text || aiItem.json.response || JSON.stringify(aiItem.json);\n  \n  return {\n    json: {\n      accountName: original.accountName || 'Unknown',\n      accountOwner: original.accountOwner || 'Unassigned',\n      accountId: original.accountId,\n      engagementLevel: original.engagementLevel,\n      peopleaiId: original.peopleaiId,\n      annualRevenue: original.annualRevenue,\n      meetings7d: original.meetings7d,\n      meetings30d: original.meetings30d,\n      emails7d: original.emails7d,\n      emails30d: original.emails30d,\n      output: aiOutput,\n      raw: original.raw || original\n    }\n  };\n});\n\nconsole.log(`\u2705 Pass Through Neglected complete: ${results.length} items`);\nreturn results;"
      },
      "id": "e42b3c4d-5e6f-4708-1920-314253647580",
      "name": "Pass Through Neglected Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27008,
        8200
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Neglected Account AI Response\nif ($input.all().length === 1 && $input.all()[0].json._empty) {\n  return [{ json: { _empty: true } }];\n}\n\nconst items = $input.all();\nconsole.log(`\ud83d\udea8 Parse Neglected AI Response: Processing ${items.length} items`);\n\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  const aiOutput = item.output || '';\n  \n  // Extract risk level\n  let riskLevel = 'medium';\n  const riskMatch = aiOutput.match(/\\*\\*RISK_LEVEL:\\*\\*\\s*(\\w+)/i);\n  if (riskMatch) riskLevel = riskMatch[1].toLowerCase().trim();\n  else if (/critical/i.test(aiOutput)) riskLevel = 'critical';\n  else if (/high.*risk/i.test(aiOutput)) riskLevel = 'high';\n  \n  // Extract neglect reason\n  let neglectReason = '';\n  const reasonMatch = aiOutput.match(/\\*\\*NEGLECT_REASON:\\*\\*\\s*([^\\n]+)/i);\n  if (reasonMatch) neglectReason = reasonMatch[1].trim();\n  \n  // Extract risks\n  const risks = [];\n  const risksMatch = aiOutput.match(/\\*\\*RISKS:\\*\\*\\s*([\\s\\S]*?)(?=\\n\\*\\*|$)/i);\n  if (risksMatch) {\n    const bullets = risksMatch[1].split('\\n')\n      .map(s => s.trim())\n      .filter(s => s.startsWith('-') || s.startsWith('\u2022'))\n      .map(s => s.replace(/^[-\u2022]\\s*/, '').trim());\n    risks.push(...bullets);\n  }\n  \n  // Extract revenue at risk\n  let revenueAtRisk = '';\n  const revMatch = aiOutput.match(/\\*\\*REVENUE_AT_RISK:\\*\\*\\s*([^\\n]+)/i);\n  if (revMatch) revenueAtRisk = revMatch[1].trim();\n  \n  // Extract recommendation\n  let recommendation = '';\n  const recMatch = aiOutput.match(/\\*\\*RECOMMENDATION:\\*\\*\\s*([^\\n]+)/i);\n  if (recMatch) recommendation = recMatch[1].trim();\n  \n  // Extract confidence\n  let confidence = 'medium';\n  const confMatch = aiOutput.match(/\\*\\*CONFIDENCE:\\*\\*\\s*(\\w+)/i);\n  if (confMatch) confidence = confMatch[1].toLowerCase();\n  \n  console.log(`\ud83d\udea8 ${i + 1}: \"${item.accountName}\" -> risk: ${riskLevel}`);\n  \n  results.push({\n    json: {\n      accountName: item.accountName,\n      accountOwner: item.accountOwner,\n      accountId: item.accountId,\n      engagementLevel: item.engagementLevel,\n      peopleaiId: item.peopleaiId,\n      annualRevenue: item.annualRevenue,\n      meetings7d: item.meetings7d,\n      meetings30d: item.meetings30d,\n      emails7d: item.emails7d,\n      emails30d: item.emails30d,\n      riskLevel,\n      neglectReason,\n      risks,\n      revenueAtRisk,\n      recommendation,\n      confidence,\n      context: aiOutput\n    }\n  });\n}\n\nconsole.log(`\u2705 Parsed ${results.length} neglected account responses`);\nreturn results;"
      },
      "id": "f53c4d5e-6f70-4819-2031-425364758069",
      "name": "Parse Neglected AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27232,
        8200
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Aggregate Neglected Account Results\n */\nconst items = $input.all();\n\nif (items.length === 0 || (items.length === 1 && !items[0].json?.accountName && !items[0].json?._empty !== undefined)) {\n  console.log('\u26a0\ufe0f No neglected account data to aggregate');\n  return [{ json: { neglectedAccounts: [], totalNeglected: 0, _empty: true } }];\n}\n\nconsole.log(`\ud83d\udcca Aggregating ${items.length} neglected account results`);\n\nconst neglectedAccounts = [];\n\nitems.forEach((item, idx) => {\n  const json = item.json;\n  if (json._empty) return;\n  if (json.accountOwner === 'Unassigned Account') return;\n  \n  neglectedAccounts.push({\n    accountName: json.accountName || 'Unknown',\n    accountOwner: json.accountOwner || 'Unassigned',\n    peopleaiId: json.peopleaiId || null,\n    engagementLevel: json.engagementLevel || 0,\n    annualRevenue: json.annualRevenue || 0,\n    meetings30d: json.meetings30d || 0,\n    emails30d: json.emails30d || 0,\n    riskLevel: json.riskLevel || 'medium',\n    neglectReason: json.neglectReason || '',\n    revenueAtRisk: json.revenueAtRisk || '',\n    recommendation: json.recommendation || '',\n    confidence: json.confidence || 'medium'\n  });\n});\n\nconsole.log(`\u2705 Aggregated ${neglectedAccounts.length} neglected accounts`);\n\nreturn [{ json: { neglectedAccounts, totalNeglected: neglectedAccounts.length } }];"
      },
      "id": "064d5e6f-7081-4920-3142-536475806970",
      "name": "Aggregate Neglected Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27456,
        8200
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are analyzing accounts where engagement is rapidly increasing \u2014 meetings surging, emails accelerating, new stakeholders appearing. Your job is to determine whether this surge represents a buying signal and recommend how the owner should capitalize.\n\n**ACCOUNT DATA:**\n- Name: {{ $json.accountName }}\n- Owner: {{ $json.accountOwner }}\n- Engagement Level: {{ $json.engagementLevel }}%\n- Domain: {{ $json.accountDomain }}\n- People.ai ID: {{ $json.peopleaiId }}\n- Meetings (7d): {{ $json.meetings7d }} | Meetings (30d): {{ $json.meetings30d }}\n- Emails (7d): {{ $json.emails7d }} | Emails (30d): {{ $json.emails30d }}\n- External People Contacted (30d): {{ $json.externalPeople30d }}\n- Engaged Executives (30d): {{ $json.engagedExecs30d }}\n- Meeting Acceleration Ratio: {{ $json.meetings30d > 0 ? ($json.meetings7d / $json.meetings30d).toFixed(2) : 'N/A' }}\n\n**YOUR TASK:**\nUse the People.ai MCP tools to analyze the last 30 days of activity for this account and assess the surge.\n\n**ANALYSIS FRAMEWORK:**\nFor this surging account, evaluate:\n\n1. **What is driving the surge?**\n   - New initiative / project launch (broad stakeholder engagement)\n   - Evaluation cycle (exec involvement + meeting cadence increase)\n   - Competitive displacement (rapid engagement from new contacts)\n   - Expansion interest (existing customer, new business unit appearing)\n\n2. **Is there an opportunity forming?**\n   - Strong: Exec engagement + 3x meeting acceleration + new stakeholders\n   - Moderate: Meeting acceleration + email responsiveness increasing\n   - Unclear: Activity spike but limited to single contact or routine cadence\n\n3. **What should the owner do to capitalize?**\n   - Advance to next stage (if opp exists, engagement supports it)\n   - Create opportunity in CRM (if no opp exists, engagement warrants it)\n   - Engage exec sponsor (if exec signals are present)\n   - Map stakeholders (if new people are appearing)\n\n4. **Is this a buying signal?**\n   - Yes: Multi-threaded engagement + exec access + accelerating cadence\n   - Maybe: Single-threaded acceleration, could be project work\n   - No: Routine engagement spike (e.g., support issue, onboarding)\n\n**OUTPUT FORMAT:**\n---\n**ACCOUNT_NAME:** {{ $json.accountName }}\n**ACCOUNT_ID:** {{ $json.peopleaiId }}\n**BUYING_SIGNAL:** yes/maybe/no\n**CONFIDENCE:** high/medium/low\n\n**SURGE_DRIVER:** [One sentence explaining what is driving the surge]\n\n**SIGNALS:**\n- [Signal 1 with specific evidence]\n- [Signal 2 with specific evidence]\n\n**RECOMMENDATION:** [One specific action to capitalize on the surge]\n---\n\nBe direct and action-oriented. Calculate acceleration ratios as (7d value * 4.3) / 30d value to normalize. Include specific metric values.",
        "options": {
          "systemMessage": "You are a sales acceleration analyst specializing in detecting buying signals from account activity surges. Be precise and actionable."
        }
      },
      "id": "175e6f70-8192-4031-4253-647580697081",
      "name": "MCP Analyze Surging Account",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        26784,
        8432
      ],
      "alwaysOutputData": true,
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        26800,
        8624
      ],
      "id": "286f7081-9203-4142-5364-758069708192",
      "name": "Chat Model Surging",
      "credentials": {
        "anthropicApi": {
          "id": "rlAz7ZSl4y6AwRUq",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        26928,
        8624
      ],
      "id": "39708192-0314-4253-6475-806970819203",
      "name": "MCP Client Surging",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "wvV5pwBeIL7f2vLG",
          "name": "People.ai MCP Multi-Header"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handle empty input\nif ($input.all().length === 1 && $input.all()[0].json._empty) {\n  return [{ json: { _empty: true } }];\n}\n\nconst aiOutputs = $input.all();\nconst originalData = $('Filter Surging Accounts').all();\n\nconsole.log(`\ud83d\udd17 Pass Through Surging: Merging ${aiOutputs.length} AI outputs with ${originalData.length} accounts`);\n\nconst results = aiOutputs.map((aiItem, idx) => {\n  const original = originalData[idx]?.json || {};\n  const aiOutput = aiItem.json.output || aiItem.json.text || aiItem.json.response || JSON.stringify(aiItem.json);\n  \n  return {\n    json: {\n      accountName: original.accountName || 'Unknown',\n      accountOwner: original.accountOwner || 'Unassigned',\n      accountId: original.accountId,\n      engagementLevel: original.engagementLevel,\n      peopleaiId: original.peopleaiId,\n      meetings7d: original.meetings7d,\n      meetings30d: original.meetings30d,\n      emails7d: original.emails7d,\n      emails30d: original.emails30d,\n      externalPeople30d: original.externalPeople30d,\n      engagedExecs30d: original.engagedExecs30d,\n      output: aiOutput,\n      raw: original.raw || original\n    }\n  };\n});\n\nconsole.log(`\u2705 Pass Through Surging complete: ${results.length} items`);\nreturn results;"
      },
      "id": "4a819203-1425-4364-7580-697081920314",
      "name": "Pass Through Surging Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27008,
        8432
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Surging Account AI Response\nif ($input.all().length === 1 && $input.all()[0].json._empty) {\n  return [{ json: { _empty: true } }];\n}\n\nconst items = $input.all();\nconsole.log(`\ud83d\udcc8 Parse Surging AI Response: Processing ${items.length} items`);\n\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  const aiOutput = item.output || '';\n  \n  // Extract buying signal assessment\n  let buyingSignal = 'maybe';\n  const sigMatch = aiOutput.match(/\\*\\*BUYING_SIGNAL:\\*\\*\\s*(\\w+)/i);\n  if (sigMatch) buyingSignal = sigMatch[1].toLowerCase().trim();\n  \n  // Extract surge driver\n  let surgeDriver = '';\n  const driverMatch = aiOutput.match(/\\*\\*SURGE_DRIVER:\\*\\*\\s*([^\\n]+)/i);\n  if (driverMatch) surgeDriver = driverMatch[1].trim();\n  \n  // Extract signals\n  const signals = [];\n  const signalsMatch = aiOutput.match(/\\*\\*SIGNALS:\\*\\*\\s*([\\s\\S]*?)(?=\\n\\*\\*|$)/i);\n  if (signalsMatch) {\n    const bullets = signalsMatch[1].split('\\n')\n      .map(s => s.trim())\n      .filter(s => s.startsWith('-') || s.startsWith('\u2022'))\n      .map(s => s.replace(/^[-\u2022]\\s*/, '').trim());\n    signals.push(...bullets);\n  }\n  \n  // Extract recommendation\n  let recommendation = '';\n  const recMatch = aiOutput.match(/\\*\\*RECOMMENDATION:\\*\\*\\s*([^\\n]+)/i);\n  if (recMatch) recommendation = recMatch[1].trim();\n  \n  // Extract confidence\n  let confidence = 'medium';\n  const confMatch = aiOutput.match(/\\*\\*CONFIDENCE:\\*\\*\\s*(\\w+)/i);\n  if (confMatch) confidence = confMatch[1].toLowerCase();\n  \n  console.log(`\ud83d\udcc8 ${i + 1}: \"${item.accountName}\" -> buying_signal: ${buyingSignal}`);\n  \n  results.push({\n    json: {\n      accountName: item.accountName,\n      accountOwner: item.accountOwner,\n      accountId: item.accountId,\n      engagementLevel: item.engagementLevel,\n      peopleaiId: item.peopleaiId,\n      meetings7d: item.meetings7d,\n      meetings30d: item.meetings30d,\n      emails7d: item.emails7d,\n      emails30d: item.emails30d,\n      externalPeople30d: item.externalPeople30d,\n      engagedExecs30d: item.engagedExecs30d,\n      buyingSignal,\n      surgeDriver,\n      signals,\n      recommendation,\n      confidence,\n      context: aiOutput\n    }\n  });\n}\n\nconsole.log(`\u2705 Parsed ${results.length} surging account responses`);\nreturn results;"
      },
      "id": "5b920314-2536-4475-8069-708192031425",
      "name": "Parse Surging AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27232,
        8432
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Aggregate Surging Account Results\n */\nconst items = $input.all();\n\nif (items.length === 0 || (items.length === 1 && !items[0].json?.accountName && items[0].json?._empty)) {\n  console.log('\u26a0\ufe0f No surging account data to aggregate');\n  return [{ json: { surgingAccounts: [], totalSurging: 0, _empty: true } }];\n}\n\nconsole.log(`\ud83d\udcca Aggregating ${items.length} surging account results`);\n\nconst surgingAccounts = [];\n\nitems.forEach((item, idx) => {\n  const json = item.json;\n  if (json._empty) return;\n  if (json.accountOwner === 'Unassigned Account') return;\n  \n  surgingAccounts.push({\n    accountName: json.accountName || 'Unknown',\n    accountOwner: json.accountOwner || 'Unassigned',\n    peopleaiId: json.peopleaiId || null,\n    engagementLevel: json.engagementLevel || 0,\n    meetings7d: json.meetings7d || 0,\n    meetings30d: json.meetings30d || 0,\n    emails7d: json.emails7d || 0,\n    emails30d: json.emails30d || 0,\n    externalPeople30d: json.externalPeople30d || 0,\n    engagedExecs30d: json.engagedExecs30d || 0,\n    buyingSignal: json.buyingSignal || 'maybe',\n    surgeDriver: json.surgeDriver || '',\n    signals: json.signals || [],\n    recommendation: json.recommendation || '',\n    confidence: json.confidence || 'medium'\n  });\n});\n\nconsole.log(`\u2705 Aggregated ${surgingAccounts.length} surging accounts`);\n\nreturn [{ json: { surgingAccounts, totalSurging: surgingAccounts.length } }];"
      },
      "id": "6ca31425-3647-4580-6970-819203142536",
      "name": "Aggregate Surging Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27456,
        8432
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are analyzing customer accounts where activity levels suggest untapped expansion potential \u2014 high engagement relative to current deal footprint. Your job is to identify where expansion opportunities exist and estimate their value.\n\n**ACCOUNT DATA:**\n- Name: {{ $json.accountName }}\n- Owner: {{ $json.accountOwner }}\n- Engagement Level: {{ $json.engagementLevel }}%\n- Annual Revenue: ${{ $json.annualRevenue }}\n- Domain: {{ $json.accountDomain }}\n- People.ai ID: {{ $json.peopleaiId }}\n- Meetings (7d): {{ $json.meetings7d }} | Meetings (30d): {{ $json.meetings30d }}\n- Emails (7d): {{ $json.emails7d }} | Emails (30d): {{ $json.emails30d }}\n- External People Contacted (30d): {{ $json.externalPeople30d }}\n- Engaged Executives (30d): {{ $json.engagedExecs30d }}\n\n**YOUR TASK:**\nUse the People.ai MCP tools to analyze the last 30 days of activity for this account and assess expansion potential.\n\n**ANALYSIS FRAMEWORK:**\nFor this expansion candidate, evaluate:\n\n1. **Where is the expansion potential?**\n   - New business unit (engagement from contacts outside existing footprint)\n   - Product cross-sell (existing stakeholders engaging on new topics)\n   - Usage-based growth (high adoption signals, ready for next tier)\n   - Geographic expansion (contacts from new regions appearing)\n\n2. **What products/services might apply?**\n   - Infer from stakeholder titles and engagement patterns\n   - Reference existing closed-won to identify whitespace\n   - Consider annual revenue as sizing indicator for total addressable spend\n\n3. **Who are the key stakeholders to engage?**\n   - Identify exec sponsors vs operational champions\n   - Flag new contacts who may be expansion sponsors\n   - Note multi-threading depth (single vs multi-department engagement)\n\n4. **What is the estimated expansion opportunity?**\n   - Base estimate on engagement intensity + annual revenue\n   - Provide conservative and stretch estimates\n\n**OUTPUT FORMAT:**\n---\n**ACCOUNT_NAME:** {{ $json.accountName }}\n**ACCOUNT_ID:** {{ $json.peopleaiId }}\n**EXPANSION_POTENTIAL:** high/medium/low\n**CONFIDENCE:** high/medium/low\n\n**EXPANSION_SIGNALS:** [One sentence summary of expansion indicators]\n\n**SIGNALS:**\n- [Signal 1 with specific evidence]\n- [Signal 2 with specific evidence]\n\n**ESTIMATED_VALUE:** [Dollar range: conservative \u2014 stretch]\n\n**RECOMMENDATION:** [Specific approach to pursue the expansion]\n---\n\nBe direct and action-oriented. Express expansion estimates as dollar ranges. Include specific metric values.",
        "options": {
          "systemMessage": "You are an account expansion analyst specializing in identifying upsell and cross-sell opportunities from engagement data. Be precise and actionable."
        }
      },
      "id": "7db42536-4758-4069-7081-920314253647",
      "name": "MCP Analyze Expansion Account",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        26784,
        8664
      ],
      "alwaysOutputData": true,
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        26800,
        8888
      ],
      "id": "8ec53647-5806-4970-8192-031425364758",
      "name": "Chat Model Expansion",
      "credentials": {
        "anthropicApi": {
          "id": "rlAz7ZSl4y6AwRUq",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        26928,
        8888
      ],
      "id": "9fd64758-0697-4081-9203-142536475806",
      "name": "MCP Client Expansion",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "wvV5pwBeIL7f2vLG",
          "name": "People.ai MCP Multi-Header"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handle empty input\nif ($input.all().length === 1 && $input.all()[0].json._empty) {\n  return [{ json: { _empty: true } }];\n}\n\nconst aiOutputs = $input.all();\nconst originalData = $('Filter Expansion Candidates').all();\n\nconsole.log(`\ud83d\udd17 Pass Through Expansion: Merging ${aiOutputs.length} AI outputs with ${originalData.length} accounts`);\n\nconst results = aiOutputs.map((aiItem, idx) => {\n  const original = originalData[idx]?.json || {};\n  const aiOutput = aiItem.json.output || aiItem.json.text || aiItem.json.response || JSON.stringify(aiItem.json);\n  \n  return {\n    json: {\n      accountName: original.accountName || 'Unknown',\n      accountOwner: original.accountOwner || 'Unassigned',\n      accountId: original.accountId,\n      engagementLevel: original.engagementLevel,\n      peopleaiId: original.peopleaiId,\n      annualRevenue: original.annualRevenue,\n      meetings30d: original.meetings30d,\n      externalPeople30d: original.externalPeople30d,\n      engagedExecs30d: original.engagedExecs30d,\n      output: aiOutput,\n      raw: original.raw || original\n    }\n  };\n});\n\nconsole.log(`\u2705 Pass Through Expansion complete: ${results.length} items`);\nreturn results;"
      },
      "id": "a0e75806-9708-4192-0314-253647580697",
      "name": "Pass Through Expansion Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27008,
        8664
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Expansion Account AI Response\nif ($input.all().length === 1 && $input.all()[0].json._empty) {\n  return [{ json: { _empty: true } }];\n}\n\nconst items = $input.all();\nconsole.log(`\ud83d\udc8e Parse Expansion AI Response: Processing ${items.length} items`);\n\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  const aiOutput = item.output || '';\n  \n  // Extract expansion potential\n  let expansionPotential = 'medium';\n  const potMatch = aiOutput.match(/\\*\\*EXPANSION_POTENTIAL:\\*\\*\\s*(\\w+)/i);\n  if (potMatch) expansionPotential = potMatch[1].toLowerCase().trim();\n  \n  // Extract expansion signals summary\n  let expansionSignals = '';\n  const expSigMatch = aiOutput.match(/\\*\\*EXPANSION_SIGNALS:\\*\\*\\s*([^\\n]+)/i);\n  if (expSigMatch) expansionSignals = expSigMatch[1].trim();\n  \n  // Extract signals array\n  const signals = [];\n  const signalsMatch = aiOutput.match(/\\*\\*SIGNALS:\\*\\*\\s*([\\s\\S]*?)(?=\\n\\*\\*|$)/i);\n  if (signalsMatch) {\n    const bullets = signalsMatch[1].split('\\n')\n      .map(s => s.trim())\n      .filter(s => s.startsWith('-') || s.startsWith('\u2022'))\n      .map(s => s.replace(/^[-\u2022]\\s*/, '').trim());\n    signals.push(...bullets);\n  }\n  \n  // Extract estimated value\n  let estimatedValue = '';\n  const valMatch = aiOutput.match(/\\*\\*ESTIMATED_VALUE:\\*\\*\\s*([^\\n]+)/i);\n  if (valMatch) estimatedValue = valMatch[1].trim();\n  \n  // Extract recommendation\n  let recommendation = '';\n  const recMatch = aiOutput.match(/\\*\\*RECOMMENDATION:\\*\\*\\s*([^\\n]+)/i);\n  if (recMatch) recommendation = recMatch[1].trim();\n  \n  // Extract confidence\n  let confidence = 'medium';\n  const confMatch = aiOutput.match(/\\*\\*CONFIDENCE:\\*\\*\\s*(\\w+)/i);\n  if (confMatch) confidence = confMatch[1].toLowerCase();\n  \n  console.log(`\ud83d\udc8e ${i + 1}: \"${item.accountName}\" -> expansion_potential: ${expansionPotential}`);\n  \n  results.push({\n    json: {\n      accountName: item.accountName,\n      accountOwner: item.accountOwner,\n      accountId: item.accountId,\n      engagementLevel: item.engagementLevel,\n      peopleaiId: item.peopleaiId,\n      annualRevenue: item.annualRevenue,\n      meetings30d: item.meetings30d,\n      externalPeople30d: item.externalPeople30d,\n      engagedExecs30d: item.engagedExecs30d,\n      expansionPotential,\n      expansionSignals,\n      signals,\n      estimatedValue,\n      recommendation,\n      confidence,\n      context: aiOutput\n    }\n  });\n}\n\nconsole.log(`\u2705 Parsed ${results.length} expansion account responses`);\nreturn results;"
      },
      "id": "b1f86970-8192-4031-4253-647580697081",
      "name": "Parse Expansion AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27232,
        8664
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Aggregate Expansion Account Results\n */\nconst items = $input.all();\n\nif (items.length === 0 || (items.length === 1 && !items[0].json?.accountName && items[0].json?._empty)) {\n  console.log('\u26a0\ufe0f No expansion account data to aggregate');\n  return [{ json: { expansionCandidates: [], totalExpansion: 0, _empty: true } }];\n}\n\nconsole.log(`\ud83d\udcca Aggregating ${items.length} expansion account results`);\n\nconst expansionCandidates = [];\n\nitems.forEach((item, idx) => {\n  const json = item.json;\n  if (json._empty) return;\n  if (json.accountOwner === 'Unassigned Account') return;\n  \n  expansionCandidates.push({\n    accountName: json.accountName || 'Unknown',\n    accountOwner: json.accountOwner || 'Unassigned',\n    peopleaiId: json.peopleaiId || null,\n    engagementLevel: json.engagementLevel || 0,\n    annualRevenue: json.annualRevenue || 0,\n    meetings30d: json.meetings30d || 0,\n    externalPeople30d: json.externalPeople30d || 0,\n    engagedExecs30d: json.engagedExecs30d || 0,\n    expansionPotential: json.expansionPotential || 'medium',\n    expansionSignals: json.expansionSignals || '',\n    signals: json.signals || [],\n    estimatedValue: json.estimatedValue || '',\n    recommendation: json.recommendation || '',\n    confidence: json.confidence || 'medium'\n  });\n});\n\nconsole.log(`\u2705 Aggregated ${expansionCandidates.length} expansion candidates`);\n\nreturn [{ json: { expansionCandidates, totalExpansion: expansionCandidates.length } }];"
      },
      "id": "c2092031-4253-4647-5806-970819203142",
      "name": "Aggregate Expansion Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27456,
        8664
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        27680,
        8432
      ],
      "id": "d31a3142-5364-4758-0697-081920314253",
      "name": "Merge Results"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconsole.log(`\ud83d\udcca Format Merged Data: Processing ${items.length} inputs`);\n\nconst output = {\n  neglectedAccounts: [],\n  surgingAccounts: [],\n  expansionCandidates: [],\n  totalNeglected: 0,\n  totalSurging: 0,\n  totalExpansion: 0,\n  hasData: false\n};\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  console.log(`\\n\ud83d\udd0d Input ${i + 1}:`, Object.keys(item));\n\n  if (item.neglectedAccounts) {\n    output.neglectedAccounts = item.neglectedAccounts || [];\n    output.totalNeglected = item.totalNeglected || 0;\n    output.hasData = true;\n    console.log(`\u2705 Found neglected accounts: ${output.totalNeglected}`);\n  }\n\n  if (item.surgingAccounts) {\n    output.surgingAccounts = item.surgingAccounts || [];\n    output.totalSurging = item.totalSurging || 0;\n    output.hasData = true;\n    console.log(`\u2705 Found surging accounts: ${output.totalSurging}`);\n  }\n\n  if (item.expansionCandidates) {\n    output.expansionCandidates = item.expansionCandidates || [];\n    output.totalExpansion = item.totalExpansion || 0;\n    output.hasData = true;\n    console.log(`\u2705 Found expansion candidates: ${output.totalExpansion}`);\n  }\n}\n\nconsole.log(`\\n\ud83d\udce6 Merged Data Summary:`);\nconsole.log(`   \ud83d\udea8 Neglected: ${output.totalNeglected} accounts`);\nconsole.log(`   \ud83d\udcc8 Surging: ${output.totalSurging} accounts`);\nconsole.log(`   \ud83d\udc8e Expansion: ${output.totalExpansion} candidates`);\n\nif (!output.hasData) {\n  console.warn('\u26a0\ufe0f No data found in any input!');\n}\n\nreturn [{ json: output }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27904,
        8432
      ],
      "id": "e42b4253-6475-4806-9708-192031425364",
      "name": "Format Merged Data"
    },
    {
      "parameters": {
        "jsCode": "// Format the Account Insights Digest for Slack\nconst data = $input.first().json;\n\nfunction formatCurrency(amount) {\n  if (!amount || isNaN(amount)) return '`$0`';\n  if (amount >= 1000000) return `\\`$${(amount / 1000000).toFixed(1)}M\\``;\n  if (amount >= 1000) return `\\`$${Math.round(amount / 1000)}K\\``;\n  return `\\`$${Math.round(amount)}\\``;\n}\n\nfunction truncate(text, maxLength) {\n  if (!text) return '';\n  if (text.length <= maxLength) return text;\n  return text.substring(0, maxLength - 1) + '\\u2026';\n}\n\nfunction createAccountLink(peopleaiId, accountName) {\n  if (!peopleaiId) return accountName;\n  return `<https://app.people.ai/crm/account/${peopleaiId}|${accountName}>`;\n}\n\nconst userName = $node['Workflow Parameters'].json.user_name || 'there';\nconst salesRegion = $node['Workflow Parameters'].json.sales_region || '';\nconst today = new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });\n\nlet message = `\\ud83c\\udfe2 *Account Insights Digest*\\n`;\nmessage += `Requested by @${userName} \\u2022 ${today}\\n`;\nif (salesRegion) {\n  message += `\\ud83c\\udf0d Region: ${salesRegion}\\n`;\n}\nmessage += `\\n`;\n\n// SECTION 1: NEGLECTED ACCOUNTS\nconst neglected = data.neglectedAccounts || [];\nmessage += `\\ud83d\\udea8 *NEGLECTED ACCOUNTS* \\u2014 High-value accounts going dark\\n`;\n\nif (neglected.length > 0) {\n  neglected.forEach((acct, idx) => {\n    const riskEmoji = acct.riskLevel === 'critical' ? '\\ud83d\\udd34' : acct.riskLevel === 'high' ? '\\ud83d\\udfe0' : '\\ud83d\\udfe1';\n    const accountLink = createAccountLink(acct.peopleaiId, acct.accountName);\n    message += `${idx + 1}. ${riskEmoji} ${accountLink} \\u2022 ${acct.accountOwner} \\u2022 ${formatCurrency(acct.annualRevenue)} rev\\n`;\n    message += `   Eng: ${acct.engagementLevel}% \\u2022 Meetings(30d): ${acct.meetings30d} \\u2022 Emails(30d): ${acct.emails30d}\\n`;\n    if (acct.neglectReason) {\n      message += `   \\u26a0\\ufe0f _${truncate(acct.neglectReason, 80)}_\\n`;\n    }\n    if (acct.recommendation) {\n      message += `   \\u2192 _${truncate(acct.recommendation, 80)}_\\n`;\n    }\n  });\n  message += `\\n`;\n} else {\n  message += `_No neglected accounts detected_\\n\\n`;\n}\n\nmessage += `\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n\\n`;\n\n// SECTION 2: SURGING ACCOUNTS\nconst surging = data.surgingAccounts || [];\nmessage += `\\ud83d\\udcc8 *SURGING ACCOUNTS* \\u2014 Accounts showing acceleration\\n`;\n\nif (surging.length > 0) {\n  surging.forEach((acct, idx) => {\n    const sigEmoji = acct.buyingSignal === 'yes' ? '\\ud83d\\udfe2' : acct.buyingSignal === 'maybe' ? '\\ud83d\\udfe1' : '\\u26aa';\n    const accountLink = createAccountLink(acct.peopleaiId, acct.accountName);\n    const accelRatio = acct.meetings30d > 0 ? (acct.meetings7d / acct.meetings30d).toFixed(2) : 'N/A';\n    message += `${idx + 1}. ${sigEmoji} ${accountLink} \\u2022 ${acct.accountOwner} \\u2022 Eng: ${acct.engagementLevel}%\\n`;\n    message += `   Meetings: ${acct.meetings7d}(7d)/${acct.meetings30d}(30d) \\u2022 Accel: ${accelRatio} \\u2022 People: ${acct.externalPeople30d} \\u2022 Execs: ${acct.engagedExecs30d}\\n`;\n    if (acct.surgeDriver) {\n      message += `   \\ud83d\\udd0e _${truncate(acct.surgeDriver, 80)}_\\n`;\n    }\n    if (acct.recommendation) {\n      message += `   \\u2192 _${truncate(acct.recommendation, 80)}_\\n`;\n    }\n  });\n  message += `\\n`;\n} else {\n  message += `_No surging accounts detected_\\n\\n`;\n}\n\nmessage += `\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n\\n`;\n\n// SECTION 3: EXPANSION CANDIDATES\nconst expansion = data.expansionCandidates || [];\nmessage += `\\ud83d\\udc8e *EXPANSION CANDIDATES* \\u2014 Customers ready for more\\n`;\n\nif (expansion.length > 0) {\n  expansion.forEach((acct, idx) => {\n    const potEmoji = acct.expansionPotential === 'high' ? '\\ud83d\\udfe2' : acct.expansionPotential === 'medium' ? '\\ud83d\\udfe1' : '\\u26aa';\n    const accountLink = createAccountLink(acct.peopleaiId, acct.accountName);\n    message += `${idx + 1}. ${potEmoji} ${accountLink} \\u2022 ${acct.accountOwner} \\u2022 ${formatCurrency(acct.annualRevenue)} rev\\n`;\n    message += `   Eng: ${acct.engagementLevel}% \\u2022 Meetings(30d): ${acct.meetings30d} \\u2022 People: ${acct.externalPeople30d} \\u2022 Execs: ${acct.engagedExecs30d}\\n`;\n    if (acct.expansionSignals) {\n      message += `   \\ud83d\\udca1 _${truncate(acct.expansionSignals, 80)}_\\n`;\n    }\n    if (acct.estimatedValue) {\n      message += `   \\ud83d\\udcb0 _Est. expansion: ${truncate(acct.estimatedValue, 60)}_\\n`;\n    }\n    if (acct.recommendation) {\n      message += `   \\u2192 _${truncate(acct.recommendation, 80)}_\\n`;\n    }\n  });\n  message += `\\n`;\n} else {\n  message += `_No expansion candidates detected_\\n\\n`;\n}\n\nmessage += `\\n_Powered by Account Insights \\u2022 People.ai + Claude AI_\\n`;\n\n// Add footer with email delivery info\nconst userEmail = $node['Workflow Parameters'].json.user_email;\nif (userEmail) {\n  message += `_\\ud83d\\udce7 Full HTML report also sent to ${userEmail}_\\n`;\n}\n\nconsole.log('\\ud83d\\udce7 Slack message formatted:', message.length, 'characters');\nconsole.log('\\ud83d\\udcca Sections:', {\n  neglected: neglected.length,\n  surging: surging.length,\n  expansion: expansion.length\n});\n\nreturn [{\n  json: {\n    message,\n    ...data\n  }\n}];"
      },
      "id": "f53c5364-7580-4697-0819-203142536475",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        28128,
        8300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Workflow Parameters'].json.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ response_type: \"in_channel\", text: $json.message, unfurl_links: false, unfurl_media: false }) }}",
        "options": {}
      },
      "id": "06475806-9708-4192-0314-253647580697",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        28352,
        8200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format the Account Insights Digest for Email - HTML VERSION\nconst data = $input.first().json;\n\nfunction formatCurrency(amount) {\n  if (!amount || isNaN(amount)) return '$0';\n  if (amount >= 1000000) return `$${(amount / 1000000).toFixed(1)}M`;\n  if (amount >= 1000) return `$${Math.round(amount / 1000)}K`;\n  return `$${Math.round(amount)}`;\n}\n\nfunction truncate(text, maxLength) {\n  if (!text) return '';\n  if (text.length <= maxLength) return text;\n  return text.substring(0, maxLength - 1) + '\\u2026';\n}\n\nfunction createAccountLink(peopleaiId, accountName) {\n  if (!peopleaiId) return accountName;\n  return `<a href=\"https://app.people.ai/crm/account/${peopleaiId}\" style=\"color: #3b82f6; text-decoration: none;\">${accountName}</a>`;\n}\n\nfunction formatDate(d) {\n  return d.toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });\n}\n\nconst today = formatDate(new Date());\nconst salesRegion = $node['Workflow Parameters'].json.sales_region || '';\n\nconst neglected = data.neglectedAccounts || [];\nconst surging = data.surgingAccounts || [];\nconst expansion = data.expansionCandidates || [];\n\nlet html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Account Insights Digest</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f3f4f6; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;\">\n  <div style=\"max-width: 800px; margin: 0 auto; background-color: #ffffff;\">\n    <div style=\"background: linear-gradient(135deg, #7c3aed 0%, #5b21b6 100%); color: #ffffff; padding: 40px 32px; text-align: center;\">\n      <h1 style=\"margin: 0; font-size: 32px; font-weight: 700;\">\\ud83c\\udfe2 Account Insights Digest</h1>\n      <p style=\"margin: 8px 0 0 0; font-size: 16px; opacity: 0.9;\">${today}${salesRegion ? ' \\u2022 ' + salesRegion : ''} \\u2022 3 Insight Types</p>\n    </div>\n    <div style=\"padding: 32px;\">`;\n\n// SECTION 1: NEGLECTED ACCOUNTS\nhtml += `\n      <div style=\"margin-bottom: 40px;\">\n        <h2 style=\"color: #1f2937; font-size: 24px; margin: 0 0 16px 0; border-bottom: 3px solid #dc2626; padding-bottom: 8px;\">\n          \\ud83d\\udea8 Neglected Accounts\n        </h2>\n        <div style=\"background-color: #fef2f2; border-left: 4px solid #dc2626; padding: 16px; margin-bottom: 16px; border-radius: 4px;\">\n          <p style=\"margin: 0; font-size: 14px; color: #991b1b;\">High-value accounts going dark \\u2022 ${neglected.length} accounts</p>\n        </div>`;\n\nif (neglected.length > 0) {\n  html += `<table style=\"width: 100%; border-collapse: collapse;\">`;\n  neglected.forEach((acct, idx) => {\n    const riskColor = acct.riskLevel === 'critical' ? '#dc2626' : acct.riskLevel === 'high' ? '#ea580c' : '#ca8a04';\n    const accountLink = createAccountLink(acct.peopleaiId, acct.accountName);\n    html += `<tr style=\"border-bottom: 1px solid #e5e7eb;\"><td style=\"padding: 16px 8px; font-size: 14px; width: 40px; color: #6b7280; vertical-align: top;\">${idx + 1}.</td><td style=\"padding: 16px 8px; font-size: 14px;\"><div style=\"margin-bottom: 6px;\">${accountLink} \\u2022 <span style=\"color: ${riskColor}; font-weight: 600;\">${(acct.riskLevel || 'medium').toUpperCase()} RISK</span></div><div style=\"color: #6b7280; font-size: 13px; margin-bottom: 6px;\">${acct.accountOwner} \\u2022 ${formatCurrency(acct.annualRevenue)} rev \\u2022 Eng: ${acct.engagementLevel}%</div>`;\n    if (acct.neglectReason) {\n      html += `<div style=\"color: #991b1b; font-size: 13px; font-style: italic; background-color: #fef2f2; padding: 8px; border-radius: 4px; margin-bottom: 4px;\">${truncate(acct.neglectReason, 120)}</div>`;\n    }\n    if (acct.recommendation) {\n      html += `<div style=\"color: #065f46; font-size: 13px;\">\\u2192 ${truncate(acct.recommendation, 120)}</div>`;\n    }\n    html += `</td></tr>`;\n  });\n  html += `</table>`;\n} else {\n  html += `<p style=\"color: #6b7280; font-style: italic; margin: 16px 0;\">No neglected accounts detected</p>`;\n}\nhtml += `</div>`;\n\n// SECTION 2: SURGING ACCOUNTS\nhtml += `\n      <div style=\"margin-bottom: 40px;\">\n        <h2 style=\"color: #1f2937; font-size: 24px; margin: 0 0 16px 0; border-bottom: 3px solid #10b981; padding-bottom: 8px;\">\n          \\ud83d\\udcc8 Surging Accounts\n        </h2>\n        <div style=\"background-color: #ecfdf5; border-left: 4px solid #10b981; padding: 16px; margin-bottom: 16px; border-radius: 4px;\">\n          <p style=\"margin: 0; font-size: 14px; color: #065f46;\">Accounts showing acceleration \\u2022 ${surging.length} accounts</p>\n        </div>`;\n\nif (surging.length > 0) {\n  html += `<table style=\"width: 100%; border-collapse: collapse;\">`;\n  surging.forEach((acct, idx) => {\n    const accountLink = createAccountLink(acct.peopleaiId, acct.accountName);\n    const accelRatio = acct.meetings30d > 0 ? (acct.meetings7d / acct.meetings30d).toFixed(2) : 'N/A';\n    html += `<tr style=\"border-bottom: 1px solid #e5e7eb;\"><td style=\"padding: 16px 8px; font-size: 14px; width: 40px; color: #6b7280; vertical-align: top;\">${idx + 1}.</td><td style=\"padding: 16px 8px; font-size: 14px;\"><div style=\"margin-bottom: 6px;\">${accountLink} \\u2022 Eng: ${acct.engagementLevel}%</div><div style=\"color: #6b7280; font-size: 13px; margin-bottom: 6px;\">${acct.accountOwner} \\u2022 Meetings: ${acct.meetings7d}(7d)/${acct.meetings30d}(30d) \\u2022 Accel: ${accelRatio}</div>`;\n    if (acct.surgeDriver) {\n      html += `<div style=\"color: #065f46; font-size: 13px; font-style: italic; background-color: #ecfdf5; padding: 8px; border-radius: 4px; margin-bottom: 4px;\">${truncate(acct.surgeDriver, 120)}</div>`;\n    }\n    if (acct.recommendation) {\n      html += `<div style=\"color: #065f46; font-size: 13px;\">\\u2192 ${truncate(acct.recommendation, 120)}</div>`;\n    }\n    html += `</td></tr>`;\n  });\n  html += `</table>`;\n} else {\n  html += `<p style=\"color: #6b7280; font-style: italic; margin: 16px 0;\">No surging accounts detected</p>`;\n}\nhtml += `</div>`;\n\n// SECTION 3: EXPANSION CANDIDATES\nhtml += `\n      <div style=\"margin-bottom: 40px;\">\n        <h2 style=\"color: #1f2937; font-size: 24px; margin: 0 0 16px 0; border-bottom: 3px solid #8b5cf6; padding-bottom: 8px;\">\n          \\ud83d\\udc8e Expansion Candidates\n        </h2>\n        <div style=\"background-color: #f5f3ff; border-left: 4px solid #8b5cf6; padding: 16px; margin-bottom: 16px; border-radius: 4px;\">\n          <p style=\"margin: 0; font-size: 14px; color: #5b21b6;\">Customers ready for more \\u2022 ${expansion.length} candidates</p>\n        </div>`;\n\nif (expansion.length > 0) {\n  html += `<table style=\"width: 100%; border-collapse: collapse;\">`;\n  expansion.forEach((acct, idx) => {\n    const accountLink = createAccountLink(acct.peopleaiId, acct.accountName);\n    html += `<tr style=\"border-bottom: 1px solid #e5e7eb;\"><td style=\"padding: 16px 8px; font-size: 14px; width: 40px; color: #6b7280; vertical-align: top;\">${idx + 1}.</td><td style=\"padding: 16px 8px; font-size: 14px;\"><div style=\"margin-bottom: 6px;\">${accountLink} \\u2022 ${formatCurrency(acct.annualRevenue)} rev</div><div style=\"color: #6b7280; font-size: 13px; margin-bottom: 6px;\">${acct.accountOwner} \\u2022 Eng: ${acct.engagementLevel}% \\u2022 People: ${acct.externalPeople30d} \\u2022 Execs: ${acct.engagedExecs30d}</div>`;\n    if (acct.expansionSignals) {\n      html += `<div style=\"color: #5b21b6; font-size: 13px; font-style: italic; background-color: #f5f3ff; padding: 8px; border-radius: 4px; margin-bottom: 4px;\">\\ud83d\\udca1 ${truncate(acct.expansionSignals, 120)}</div>`;\n    }\n    if (acct.estimatedValue) {\n      html += `<div style=\"color: #5b21b6; font-size: 13px; font-weight: 600;\">\\ud83d\\udcb0 Est: ${truncate(acct.estimatedValue, 80)}</div>`;\n    }\n    if (acct.recommendation) {\n      html += `<div style=\"color: #065f46; font-size: 13px;\">\\u2192 ${truncate(acct.recommendation, 120)}</div>`;\n    }\n    html += `</td></tr>`;\n  });\n  html += `</table>`;\n} else {\n  html += `<p style=\"color: #6b7280; font-style: italic; margin: 16px 0;\">No expansion candidates detected</p>`;\n}\nhtml += `</div>`;\n\n// Footer\nhtml += `\n    </div>\n    <div style=\"background-color: #f9fafb; padding: 24px 32px; border-top: 1px solid #e5e7eb; text-align: center;\">\n      <p style=\"margin: 0 0 8px 0; color: #6b7280; font-size: 13px;\">Powered by Account Insights \\u2022 People.ai + Claude AI \\u2022 ${today}</p>\n      <p style=\"margin: 0; color: #9ca3af; font-size: 12px;\">This is an automated digest based on account activity data and AI analysis</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconsole.log('\\ud83d\\udce7 Email HTML formatted:', html.length, 'characters');\n\nreturn [{\n  json: {\n    htmlEmail: html,\n    subject: `Account Insights Digest - ${today}`,\n    today,\n    totalNeglected: neglected.length,\n    totalSurging: surging.length,\n    totalExpansion: expansion.length,\n    ...data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        28128,
        8564
      ],
      "id": "17586970-8192-4031-4253-647580697082",
      "name": "Format Email Digest"
    },
    {
      "parameters": {
        "fromEmail": "scott.metcalf@people.ai",
        "toEmail": "={{ $node[\"Workflow Parameters\"].json.user_email }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.htmlEmail }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        28352,
        8564
      ],
      "id": "28697081-9203-4142-5364-758069708193",
      "name": "Send Email Digest",
      "webhookId": "39a08192-0314-4253-6475-806970819204",
      "credentials": {
        "smtp": {
          "id": "PfRzHYltm16I6dan",
          "name": "SMTP(scott.metcalf@people.ai)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slash Command Webhook": {
      "main": [
        [
          {
            "node": "Acknowledge Slash Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge Slash Command": {
      "main": [
        [
          {
            "node": "Extract Slash Command Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Slash Command Data": {
      "main": [
        [
          {
            "node": "Get User Email from Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Email from Slack": {
      "main": [
        [
          {
            "node": "Merge User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge User Context": {
      "main": [
        [
          {
            "node": "Workflow Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Parameters": {
      "main": [
        [
          {
            "node": "Get People.ai Auth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get People.ai Auth Token": {
      "main": [
        [
          {
            "node": "Get Account Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account Data": {
      "main": [
        [
          {
            "node": "Parse Accounts CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Accounts CSV": {
      "main": [
        [
          {
            "node": "Extract Account Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Account Data": {
      "main": [
        [
          {
            "node": "Filter Neglected Accounts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Surging Accounts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Expansion Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Neglected Accounts": {
      "main": [
        [
          {
            "node": "MCP Analyze Neglected Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Analyze Neglected Account": {
      "main": [
        [
          {
            "node": "Pass Through Neglected Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Through Neglected Metadata": {
      "main": [
        [
          {
            "node": "Parse Neglected AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Neglected AI Response": {
      "main": [
        [
          {
            "node": "Aggregate Neglected Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Neglected Results": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model Neglected": {
      "ai_languageModel": [
        [
          {
            "node": "MCP Analyze Neglected Account",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client Neglected": {
      "ai_tool": [
        [
          {
            "node": "MCP Analyze Neglected Account",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter Surging Accounts": {
      "main": [
        [
          {
            "node": "MCP Analyze Surging Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Analyze Surging Account": {
      "main": [
        [
          {
            "node": "Pass Through Surging Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Through Surging Metadata": {
      "main": [
        [
          {
            "node": "Parse Surging AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Surging AI Response": {
      "main": [
        [
          {
            "node": "Aggregate Surging Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Surging Results": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Chat Model Surging": {
      "ai_languageModel": [
        [
          {
            "node": "MCP Analyze Surging Account",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client Surging": {
      "ai_tool": [
        [
          {
            "node": "MCP Analyze Surging Account",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter Expansion Candidates": {
      "main": [
        [
          {
            "node": "MCP Analyze Expansion Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Analyze Expansion Account": {
      "main": [
        [
          {
            "node": "Pass Through Expansion Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Through Expansion Metadata": {
      "main": [
        [
          {
            "node": "Parse Expansion AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Expansion AI Response": {
      "main": [
        [
          {
            "node": "Aggregate Expansion Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Expansion Results": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Chat Model Expansion": {
      "ai_languageModel": [
        [
          {
            "node": "MCP Analyze Expansion Account",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client Expansion": {
      "ai_tool": [
        [
          {
            "node": "MCP Analyze Expansion Account",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Format Merged Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Merged Data": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email Digest": {
      "main": [
        [
          {
            "node": "Send Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a1b2c3d4-e5f6-4a7b-8c9d-0e1f2a3b4c5d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4dd7a54cbf3c3ec35a460541c7470b86ad06fde74ed99585c44045ec74f97461"
  },
  "id": "AI-AccountInsights-v1",
  "tags": []
}