n8n/workflows/icp_calibration_v1.json
{
  "name": "ICP Calibration v1 - Win Pattern Fingerprint",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-calibrate-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1000,
        2000
      ],
      "id": "1a2b3c4d-1111-4a7b-8c9d-aabbccddeeff",
      "name": "Slash Command Webhook",
      "webhookId": "2b3c4d5e-2222-4b8c-9d0e-aabbccddeeff"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response_type\": \"in_channel\",\n  \"text\": \"\u23f3 Running ICP Calibration \u2014 analyzing closed-won vs closed-lost accounts to extract your win pattern fingerprint. This takes 3-5 minutes as I deep-dive 15 accounts via MCP...\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "3c4d5e6f-3333-4c9d-0e1f-aabbccddeeff",
      "name": "Acknowledge Slash Command",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1224,
        2000
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Extract Slash Command Data - ROBUST VERSION\n * \n * n8n webhook nodes can put form-urlencoded POST data in different places:\n *   - $json.body (parsed object)\n *   - $json directly (top-level fields)\n *   - $json.body as a string (needs parsing)\n * \n * This code checks ALL possible locations with detailed logging.\n */\n\nconst webhookData = $('Slash Command Webhook').first().json;\n\nconsole.log('\ud83d\udce8 RAW WEBHOOK PAYLOAD:');\nconsole.log('   Top-level keys:', Object.keys(webhookData).join(', '));\n\nif (webhookData.body) {\n  console.log('   body type:', typeof webhookData.body);\n  if (typeof webhookData.body === 'object') {\n    console.log('   body keys:', Object.keys(webhookData.body).join(', '));\n  }\n}\n\nif (webhookData.headers) {\n  const ct = webhookData.headers['content-type'] || webhookData.headers['Content-Type'] || 'unknown';\n  console.log('   Content-Type:', ct);\n}\n\nfunction findField(fieldName) {\n  if (webhookData[fieldName] !== undefined && webhookData[fieldName] !== '') {\n    console.log(`   \u2705 ${fieldName} found at top-level: \"${webhookData[fieldName]}\"`);\n    return String(webhookData[fieldName]);\n  }\n  if (webhookData.body && typeof webhookData.body === 'object' && webhookData.body[fieldName] !== undefined) {\n    console.log(`   \u2705 ${fieldName} found in body: \"${webhookData.body[fieldName]}\"`);\n    return String(webhookData.body[fieldName]);\n  }\n  if (webhookData.body && typeof webhookData.body === 'string') {\n    const params = new URLSearchParams(webhookData.body);\n    const val = params.get(fieldName);\n    if (val) {\n      console.log(`   \u2705 ${fieldName} parsed from body string: \"${val}\"`);\n      return val;\n    }\n  }\n  if (webhookData.query && webhookData.query[fieldName]) {\n    console.log(`   \u2705 ${fieldName} found in query: \"${webhookData.query[fieldName]}\"`);\n    return String(webhookData.query[fieldName]);\n  }\n  if (webhookData.params && webhookData.params[fieldName]) {\n    console.log(`   \u2705 ${fieldName} found in params: \"${webhookData.params[fieldName]}\"`);\n    return String(webhookData.params[fieldName]);\n  }\n  console.log(`   \u274c ${fieldName} NOT FOUND in any location`);\n  return '';\n}\n\nconsole.log('\\n\ud83d\udd0d Searching for slash command fields:');\n\nconst userId = findField('user_id');\nconst userName = findField('user_name');\nconst channelId = findField('channel_id');\nconst channelName = findField('channel_name');\nconst responseUrl = findField('response_url');\nconst commandText = findField('text');\nconst teamDomain = findField('team_domain');\n\nconsole.log('\\n\ud83d\udcca EXTRACTED VALUES:');\nconsole.log(`   \ud83d\udc64 User: @${userName} (${userId})`);\nconsole.log(`   \ud83d\udcfa Channel: #${channelName} (${channelId})`);\nconsole.log(`   \ud83d\udd17 Response URL: ${responseUrl ? responseUrl.substring(0, 60) + '...' : 'MISSING'}`);\nconsole.log(`   \ud83d\udcdd Text: \"${commandText}\"`);\n\nif (!userId) {\n  console.error('\ud83d\udea8 CRITICAL: No user_id found! Full payload dump:');\n  console.error(JSON.stringify(webhookData, null, 2).substring(0, 2000));\n}\n\nreturn [{\n  json: {\n    userId,\n    userName,\n    channelId,\n    channelName,\n    responseUrl,\n    commandText,\n    teamDomain,\n    _raw: webhookData\n  }\n}];\n"
      },
      "id": "4d5e6f70-4444-4d0e-1f2a-aabbccddeeff",
      "name": "Extract Slash Command Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1448,
        2000
      ]
    },
    {
      "parameters": {
        "url": "=https://slack.com/api/users.info?user={{ $json.userId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "5e6f7081-5555-4e1f-2a3b-aabbccddeeff",
      "name": "Get User Email from Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1672,
        2000
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LluVuiMJ8NUbAiG7",
          "name": "Slackbot Auth Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Merge User Context - ROBUST VERSION\n * Handles cases where email scope might be missing\n */\n\nconst slashData = $('Extract Slash Command Data').first().json;\nconst slackResponse = $input.first().json;\n\nconsole.log('\ud83d\udc64 Slack API Response keys:', Object.keys(slackResponse).join(', '));\nconsole.log('   ok:', slackResponse.ok);\n\nconst userObj = slackResponse.user || {};\nconst userProfile = userObj.profile || {};\nlet userEmail = userProfile.email || userObj.email || '';\n\nif (!userEmail && slackResponse.profile) {\n  userEmail = slackResponse.profile.email || '';\n}\n\nconst realName = userObj.real_name || userProfile.real_name || slashData.userName || 'there';\n\nconsole.log('\ud83d\udce7 Email extraction:');\nconsole.log('   user.profile.email:', userProfile.email || '(not present)');\nconsole.log('   user.email:', userObj.email || '(not present)');\nconsole.log('   Final email:', userEmail || '(NONE - bot may lack users:read.email scope)');\nconsole.log('   Real name:', realName);\nconsole.log('   Channel ID:', slashData.channelId);\nconsole.log('   Response URL:', slashData.responseUrl ? 'Present' : 'MISSING');\n\nif (!userEmail) {\n  console.warn('\u26a0\ufe0f No email found. Possible fixes:');\n  console.warn('   1. Add \"users:read.email\" scope to your Slack bot');\n  console.warn('   2. Reinstall the app after adding the scope');\n}\n\nreturn [{\n  json: {\n    userId: slashData.userId,\n    userName: slashData.userName,\n    realName: realName,\n    userEmail: userEmail,\n    channelId: slashData.channelId,\n    channelName: slashData.channelName,\n    responseUrl: slashData.responseUrl,\n    commandText: slashData.commandText,\n    teamDomain: slashData.teamDomain\n  }\n}];\n"
      },
      "id": "6f708192-6666-4f2a-3b4c-aabbccddeeff",
      "name": "Merge User Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1896,
        2000
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "sample_size_cohort",
              "type": "number",
              "value": 30,
              "id": "aa01bb02-cc03-4dd4-ee05-ff0011223344"
            },
            {
              "name": "deep_dive_count",
              "type": "number",
              "value": 15,
              "id": "bb02cc03-dd04-4ee5-ff06-001122334455"
            },
            {
              "name": "slack_channel",
              "type": "string",
              "value": "={{ $node['Merge User Context'].json.channelId }}",
              "id": "cc03dd04-ee05-4ff6-0011-223344556677"
            },
            {
              "name": "user_email",
              "type": "string",
              "value": "={{ $node['Merge User Context'].json.userEmail }}",
              "id": "dd04ee05-ff06-4011-2233-445566778899"
            },
            {
              "name": "user_name",
              "type": "string",
              "value": "={{ $node['Merge User Context'].json.realName }}",
              "id": "ee05ff06-0011-4223-3445-5667788990ab"
            },
            {
              "name": "response_url",
              "type": "string",
              "value": "={{ $node['Merge User Context'].json.responseUrl }}",
              "id": "ff060011-2233-4445-5667-7889900aabbc"
            },
            {
              "name": "peopleai_client_id",
              "type": "string",
              "value": "=zYedL8iWkGyY",
              "id": "00112233-4455-4667-7889-90aabbccddee"
            },
            {
              "name": "peopleai_client_secret",
              "type": "string",
              "value": "=E0d2ErottkpSBcM1cQKjwxPtuTnyJxSFoSG1eUqyNKVPEslY",
              "id": "11223344-5566-4778-8990-aabbccddeeff"
            }
          ]
        },
        "options": {}
      },
      "id": "70819203-7777-4c5d-6e7f-aabbccddeeff",
      "name": "Workflow Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2120,
        2000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.people.ai/v3/auth/tokens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $node['Workflow Parameters'].json.peopleai_client_id }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $node['Workflow Parameters'].json.peopleai_client_secret }}"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        },
        "options": {}
      },
      "id": "81920314-8888-4d6e-7f80-aabbccddeeff",
      "name": "Get People.ai Auth Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2344,
        2000
      ],
      "notes": "Get OAuth token from People.ai. Client ID and secret now referenced from Workflow Parameters node."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.people.ai/v3/beta/insights/export",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node['Get People.ai Auth Token'].json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  object: 'account',\n  columns: [\n    { slug: 'ootb_account_id' },\n    { slug: 'ootb_account_name' },\n    { slug: 'ootb_account_original_owner' },\n    { slug: 'ootb_account_domain' },\n    { slug: 'ootb_account_engagement_level' },\n    { slug: 'ootb_account_annual_revenue', variation_id: 'ootb_account_annual_revenue_any_time' },\n    { slug: 'ootb_account_industry' },\n    { slug: 'ootb_account_count_of_meetings_standard', variation_id: 'ootb_account_count_of_meetings_standard_last_30_days' },\n    { slug: 'ootb_account_count_of_emails', variation_id: 'ootb_account_count_of_emails_last_30_days' },\n    { slug: 'ootb_account_count_of_emails_sent', variation_id: 'ootb_account_count_of_emails_sent_last_30_days' },\n    { slug: 'ootb_account_count_of_emails_received', variation_id: 'ootb_account_count_of_emails_received_last_30_days' },\n    { slug: 'ootb_account_count_of_external_people_contacted', variation_id: 'ootb_account_count_of_external_people_contacted_last_30_days' },\n    { slug: 'ootb_account_count_of_external_people_contacted', variation_id: 'ootb_account_count_of_external_people_contacted_last_7_days' },\n    { slug: 'ootb_account_count_of_engaged_executives_external', variation_id: 'ootb_account_count_of_engaged_executives_external_last_30_days' },\n    { slug: 'ootb_account_executive_activities', variation_id: 'ootb_account_executive_activities_last_30_days' },\n    { slug: 'ootb_account_people_engaged', variation_id: 'ootb_account_people_engaged_last_30_days' },\n    { slug: 'ootb_account_closed_won_opportunities', variation_id: 'ootb_account_closed_won_opportunities_last_fyear' }\n  ],\n  filter: {\n    $and: [\n      {\n        attribute: {\n          slug: 'ootb_account_closed_won_opportunities',\n          variation_id: 'ootb_account_closed_won_opportunities_last_fyear'\n        },\n        clause: { $gt: 0 }\n      }\n    ]\n  }\n}) }}",
        "options": {}
      },
      "id": "92031425-9999-4e7f-8091-aabbccddeeff",
      "name": "Get Winners",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2568,
        1700
      ]
    },
    {
      "parameters": {
        "jsCode": "const csvData = $json.data || '';\n\nif (!csvData || csvData.trim().length === 0) {\n  console.log('\u26a0\ufe0f No data returned from API');\n  return [{ json: { _empty: true } }];\n}\n\nfunction parseCSVLine(line) {\n  const vals = [];\n  let inQuotes = false;\n  let current = '';\n\n  for (let i = 0; i < line.length; i++) {\n    const c = line[i];\n\n    if (c === '\"' && (i === 0 || line[i - 1] !== '\\\\')) {\n      inQuotes = !inQuotes;\n      continue;\n    }\n\n    if (c === ',' && !inQuotes) {\n      vals.push(current);\n      current = '';\n      continue;\n    }\n\n    current += c;\n  }\n\n  vals.push(current);\n  return vals.map(v => v.trim());\n}\n\nconst lines = csvData.trim().split(/\\r?\\n/);\nconst headers = parseCSVLine(lines[0]);\n\nconsole.log('\ud83d\udcca Winners CSV Headers:', headers);\n\nconst parsedAccounts = [];\n\nfor (let i = 1; i < lines.length; i++) {\n  const vals = parseCSVLine(lines[i]);\n  if (vals.length !== headers.length) continue;\n\n  const account = {};\n  headers.forEach((h, idx) => {\n    account[h] = vals[idx] || '';\n  });\n\n  parsedAccounts.push(account);\n}\n\nconsole.log(`\u2705 Parsed ${parsedAccounts.length} winner accounts from CSV`);\n\nif (parsedAccounts.length === 0) {\n  return [{ json: { _empty: true } }];\n}\nreturn parsedAccounts.map(a => ({ json: a }));\n"
      },
      "id": "a3142536-aaaa-4f80-91a2-aabbccddeeff",
      "name": "Parse Winners CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2792,
        1700
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Extract Winner Metrics\n * Extracts all fields, computes derived ratios, takes top 30 by closed_won count descending.\n */\n\nconst items = $input.all();\n\nif (items.length === 0 || (items.length === 1 && items[0].json._empty)) {\n  console.log('\u26a0\ufe0f No winner data to extract');\n  return [{ json: { _empty: true, winners: [] } }];\n}\n\nconsole.log(`\ud83d\udd0d Extract Winner Metrics: Processing ${items.length} items`);\n\nfunction findHeader(obj, keywords) {\n  const keys = Object.keys(obj);\n  for (const keyword of keywords) {\n    const found = keys.find(k => k.toLowerCase().includes(keyword.toLowerCase()));\n    if (found) return found;\n  }\n  return null;\n}\n\nfunction toNumber(x) {\n  const n = Number(String(x || '').replace(/[,$]/g, ''));\n  return Number.isFinite(n) ? n : 0;\n}\n\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n\n  if (i === 0) {\n    console.log('\ud83d\udccb Available keys:', Object.keys(item).join(', '));\n  }\n\n  const accountId = item['Account ID'] || item.ootb_account_id || 'Unknown';\n  const accountName = item['Account Name'] || item.ootb_account_name || 'Unknown';\n  const accountOwner = item['Account Owner (name)'] || item.ootb_account_original_owner || 'Unassigned';\n  const accountDomain = item['Account Domain'] || item.ootb_account_domain || '';\n  const engagementLevel = toNumber(item['Account Engagement Level'] || item.ootb_account_engagement_level);\n  const industry = item['Account Industry'] || item.ootb_account_industry || '';\n\n  const annualRevenueKey = findHeader(item, ['annual_revenue', 'annual revenue', 'Annual Revenue']);\n  const annualRevenue = toNumber(annualRevenueKey ? item[annualRevenueKey] : 0);\n\n  const meetings30dKey = findHeader(item, ['meetings_standard_last_30_days', 'Meetings (Last 30 Days)']);\n  const meetings30d = toNumber(meetings30dKey ? item[meetings30dKey] : 0);\n\n  const emails30dKey = findHeader(item, ['count_of_emails_last_30_days', 'Emails (Last 30 Days)']);\n  const emails30d = toNumber(emails30dKey ? item[emails30dKey] : 0);\n\n  const emailsSentKey = findHeader(item, ['emails_sent_last_30', 'Emails Sent (Last 30 Days)']);\n  const emailsSent30d = toNumber(emailsSentKey ? item[emailsSentKey] : 0);\n\n  const emailsReceivedKey = findHeader(item, ['emails_received_last_30', 'Emails Received (Last 30 Days)']);\n  const emailsReceived30d = toNumber(emailsReceivedKey ? item[emailsReceivedKey] : 0);\n\n  const peopleContacted30dKey = findHeader(item, ['external_people_contacted_last_30', 'External People Contacted (Last 30 Days)']);\n  const peopleContacted30d = toNumber(peopleContacted30dKey ? item[peopleContacted30dKey] : 0);\n\n  const peopleContacted7dKey = findHeader(item, ['external_people_contacted_last_7', 'External People Contacted (Last 7 Days)']);\n  const peopleContacted7d = toNumber(peopleContacted7dKey ? item[peopleContacted7dKey] : 0);\n\n  const execsEngagedKey = findHeader(item, ['engaged_executives_external_last_30', 'Engaged Executives (Last 30 Days)']);\n  const execsEngaged30d = toNumber(execsEngagedKey ? item[execsEngagedKey] : 0);\n\n  const execActivitiesKey = findHeader(item, ['executive_activities_last_30', 'Executive Activities (Last 30 Days)']);\n  const execActivities30d = toNumber(execActivitiesKey ? item[execActivitiesKey] : 0);\n\n  const peopleEngagedKey = findHeader(item, ['people_engaged_last_30', 'People Engaged (Last 30 Days)']);\n  const peopleEngaged30d = toNumber(peopleEngagedKey ? item[peopleEngagedKey] : 0);\n\n  const closedWonKey = findHeader(item, ['closed_won_opportunities_last_fyear', 'Closed Won Opportunities (Last FYear)']);\n  const closedWon = toNumber(closedWonKey ? item[closedWonKey] : 0);\n\n  // Derived ratios\n  const totalActivity = meetings30d + emails30d;\n  const meetingRatio = totalActivity > 0 ? meetings30d / totalActivity : 0;\n  const execRatio = peopleContacted30d > 0 ? execsEngaged30d / peopleContacted30d : 0;\n  const emailResponsiveness = emailsSent30d > 0 ? emailsReceived30d / emailsSent30d : 0;\n  const contactVelocityProxy = peopleContacted30d > 0 ? (peopleContacted7d / peopleContacted30d) * 4.286 : 0;\n  const stakeholderBreadth = peopleContacted30d / 4.3;\n\n  results.push({\n    accountId,\n    accountName,\n    accountOwner,\n    accountDomain,\n    engagementLevel,\n    industry,\n    annualRevenue,\n    meetings30d,\n    emails30d,\n    emailsSent30d,\n    emailsReceived30d,\n    peopleContacted30d,\n    peopleContacted7d,\n    execsEngaged30d,\n    execActivities30d,\n    peopleEngaged30d,\n    closedWon,\n    meetingRatio: Math.round(meetingRatio * 1000) / 1000,\n    execRatio: Math.round(execRatio * 1000) / 1000,\n    emailResponsiveness: Math.round(emailResponsiveness * 1000) / 1000,\n    contactVelocityProxy: Math.round(contactVelocityProxy * 1000) / 1000,\n    stakeholderBreadth: Math.round(stakeholderBreadth * 100) / 100\n  });\n}\n\n// Sort by closedWon descending, take top 30\nresults.sort((a, b) => b.closedWon - a.closedWon);\nconst top30 = results.slice(0, 30);\n\nconsole.log(`\u2705 Extracted ${results.length} total winners, returning top ${top30.length} by closed-won count`);\ntop30.forEach((w, idx) => {\n  if (idx < 5) console.log(`  ${idx + 1}. ${w.accountName} - Won: ${w.closedWon} - MeetingRatio: ${w.meetingRatio} - ExecRatio: ${w.execRatio}`);\n});\n\nreturn [{ json: { winners: top30, totalWinners: top30.length } }];\n"
      },
      "id": "b4253647-bbbb-4091-a2b3-aabbccddeeff",
      "name": "Extract Winner Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3016,
        1700
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.people.ai/v3/beta/insights/export",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node['Get People.ai Auth Token'].json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  object: 'account',\n  columns: [\n    { slug: 'ootb_account_id' },\n    { slug: 'ootb_account_name' },\n    { slug: 'ootb_account_original_owner' },\n    { slug: 'ootb_account_domain' },\n    { slug: 'ootb_account_engagement_level' },\n    { slug: 'ootb_account_annual_revenue', variation_id: 'ootb_account_annual_revenue_any_time' },\n    { slug: 'ootb_account_industry' },\n    { slug: 'ootb_account_count_of_meetings_standard', variation_id: 'ootb_account_count_of_meetings_standard_last_30_days' },\n    { slug: 'ootb_account_count_of_emails', variation_id: 'ootb_account_count_of_emails_last_30_days' },\n    { slug: 'ootb_account_count_of_emails_sent', variation_id: 'ootb_account_count_of_emails_sent_last_30_days' },\n    { slug: 'ootb_account_count_of_emails_received', variation_id: 'ootb_account_count_of_emails_received_last_30_days' },\n    { slug: 'ootb_account_count_of_external_people_contacted', variation_id: 'ootb_account_count_of_external_people_contacted_last_30_days' },\n    { slug: 'ootb_account_count_of_external_people_contacted', variation_id: 'ootb_account_count_of_external_people_contacted_last_7_days' },\n    { slug: 'ootb_account_count_of_engaged_executives_external', variation_id: 'ootb_account_count_of_engaged_executives_external_last_30_days' },\n    { slug: 'ootb_account_executive_activities', variation_id: 'ootb_account_executive_activities_last_30_days' },\n    { slug: 'ootb_account_people_engaged', variation_id: 'ootb_account_people_engaged_last_30_days' },\n    { slug: 'ootb_account_closed_lost_opportunities', variation_id: 'ootb_account_closed_lost_opportunities_last_fyear' },\n    { slug: 'ootb_account_closed_won_opportunities', variation_id: 'ootb_account_closed_won_opportunities_last_fyear' }\n  ],\n  filter: {\n    $and: [\n      {\n        attribute: {\n          slug: 'ootb_account_closed_lost_opportunities',\n          variation_id: 'ootb_account_closed_lost_opportunities_last_fyear'\n        },\n        clause: { $gt: 0 }\n      },\n      {\n        attribute: {\n          slug: 'ootb_account_closed_won_opportunities',\n          variation_id: 'ootb_account_closed_won_opportunities_last_fyear'\n        },\n        clause: { $eq: 0 }\n      }\n    ]\n  }\n}) }}",
        "options": {}
      },
      "id": "c5364758-cccc-4f80-6970-aabbccddeeff",
      "name": "Get Losers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2568,
        2000
      ]
    },
    {
      "parameters": {
        "jsCode": "const csvData = $json.data || '';\n\nif (!csvData || csvData.trim().length === 0) {\n  console.log('\u26a0\ufe0f No data returned from API');\n  return [{ json: { _empty: true } }];\n}\n\nfunction parseCSVLine(line) {\n  const vals = [];\n  let inQuotes = false;\n  let current = '';\n\n  for (let i = 0; i < line.length; i++) {\n    const c = line[i];\n\n    if (c === '\"' && (i === 0 || line[i - 1] !== '\\\\')) {\n      inQuotes = !inQuotes;\n      continue;\n    }\n\n    if (c === ',' && !inQuotes) {\n      vals.push(current);\n      current = '';\n      continue;\n    }\n\n    current += c;\n  }\n\n  vals.push(current);\n  return vals.map(v => v.trim());\n}\n\nconst lines = csvData.trim().split(/\\r?\\n/);\nconst headers = parseCSVLine(lines[0]);\n\nconsole.log('\ud83d\udcca Losers CSV Headers:', headers);\n\nconst parsedAccounts = [];\n\nfor (let i = 1; i < lines.length; i++) {\n  const vals = parseCSVLine(lines[i]);\n  if (vals.length !== headers.length) continue;\n\n  const account = {};\n  headers.forEach((h, idx) => {\n    account[h] = vals[idx] || '';\n  });\n\n  parsedAccounts.push(account);\n}\n\nconsole.log(`\u2705 Parsed ${parsedAccounts.length} loser accounts from CSV`);\n\nif (parsedAccounts.length === 0) {\n  return [{ json: { _empty: true } }];\n}\nreturn parsedAccounts.map(a => ({ json: a }));\n"
      },
      "id": "d6475806-dddd-4091-a2b3-aabbccddeeff",
      "name": "Parse Losers CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2792,
        2000
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Extract Loser Metrics\n * Same derived ratios as winners. Take top 30 by closed_lost count descending.\n */\n\nconst items = $input.all();\n\nif (items.length === 0 || (items.length === 1 && items[0].json._empty)) {\n  console.log('\u26a0\ufe0f No loser data to extract');\n  return [{ json: { _empty: true, losers: [] } }];\n}\n\nconsole.log(`\ud83d\udd0d Extract Loser Metrics: Processing ${items.length} items`);\n\nfunction findHeader(obj, keywords) {\n  const keys = Object.keys(obj);\n  for (const keyword of keywords) {\n    const found = keys.find(k => k.toLowerCase().includes(keyword.toLowerCase()));\n    if (found) return found;\n  }\n  return null;\n}\n\nfunction toNumber(x) {\n  const n = Number(String(x || '').replace(/[,$]/g, ''));\n  return Number.isFinite(n) ? n : 0;\n}\n\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n\n  if (i === 0) {\n    console.log('\ud83d\udccb Available keys:', Object.keys(item).join(', '));\n  }\n\n  const accountId = item['Account ID'] || item.ootb_account_id || 'Unknown';\n  const accountName = item['Account Name'] || item.ootb_account_name || 'Unknown';\n  const accountOwner = item['Account Owner (name)'] || item.ootb_account_original_owner || 'Unassigned';\n  const accountDomain = item['Account Domain'] || item.ootb_account_domain || '';\n  const engagementLevel = toNumber(item['Account Engagement Level'] || item.ootb_account_engagement_level);\n  const industry = item['Account Industry'] || item.ootb_account_industry || '';\n\n  const annualRevenueKey = findHeader(item, ['annual_revenue', 'annual revenue', 'Annual Revenue']);\n  const annualRevenue = toNumber(annualRevenueKey ? item[annualRevenueKey] : 0);\n\n  const meetings30dKey = findHeader(item, ['meetings_standard_last_30_days', 'Meetings (Last 30 Days)']);\n  const meetings30d = toNumber(meetings30dKey ? item[meetings30dKey] : 0);\n\n  const emails30dKey = findHeader(item, ['count_of_emails_last_30_days', 'Emails (Last 30 Days)']);\n  const emails30d = toNumber(emails30dKey ? item[emails30dKey] : 0);\n\n  const emailsSentKey = findHeader(item, ['emails_sent_last_30', 'Emails Sent (Last 30 Days)']);\n  const emailsSent30d = toNumber(emailsSentKey ? item[emailsSentKey] : 0);\n\n  const emailsReceivedKey = findHeader(item, ['emails_received_last_30', 'Emails Received (Last 30 Days)']);\n  const emailsReceived30d = toNumber(emailsReceivedKey ? item[emailsReceivedKey] : 0);\n\n  const peopleContacted30dKey = findHeader(item, ['external_people_contacted_last_30', 'External People Contacted (Last 30 Days)']);\n  const peopleContacted30d = toNumber(peopleContacted30dKey ? item[peopleContacted30dKey] : 0);\n\n  const peopleContacted7dKey = findHeader(item, ['external_people_contacted_last_7', 'External People Contacted (Last 7 Days)']);\n  const peopleContacted7d = toNumber(peopleContacted7dKey ? item[peopleContacted7dKey] : 0);\n\n  const execsEngagedKey = findHeader(item, ['engaged_executives_external_last_30', 'Engaged Executives (Last 30 Days)']);\n  const execsEngaged30d = toNumber(execsEngagedKey ? item[execsEngagedKey] : 0);\n\n  const execActivitiesKey = findHeader(item, ['executive_activities_last_30', 'Executive Activities (Last 30 Days)']);\n  const execActivities30d = toNumber(execActivitiesKey ? item[execActivitiesKey] : 0);\n\n  const peopleEngagedKey = findHeader(item, ['people_engaged_last_30', 'People Engaged (Last 30 Days)']);\n  const peopleEngaged30d = toNumber(peopleEngagedKey ? item[peopleEngagedKey] : 0);\n\n  const closedLostKey = findHeader(item, ['closed_lost_opportunities_last_fyear', 'Closed Lost Opportunities (Last FYear)']);\n  const closedLost = toNumber(closedLostKey ? item[closedLostKey] : 0);\n\n  // Derived ratios (same as winners)\n  const totalActivity = meetings30d + emails30d;\n  const meetingRatio = totalActivity > 0 ? meetings30d / totalActivity : 0;\n  const execRatio = peopleContacted30d > 0 ? execsEngaged30d / peopleContacted30d : 0;\n  const emailResponsiveness = emailsSent30d > 0 ? emailsReceived30d / emailsSent30d : 0;\n  const contactVelocityProxy = peopleContacted30d > 0 ? (peopleContacted7d / peopleContacted30d) * 4.286 : 0;\n  const stakeholderBreadth = peopleContacted30d / 4.3;\n\n  results.push({\n    accountId,\n    accountName,\n    accountOwner,\n    accountDomain,\n    engagementLevel,\n    industry,\n    annualRevenue,\n    meetings30d,\n    emails30d,\n    emailsSent30d,\n    emailsReceived30d,\n    peopleContacted30d,\n    peopleContacted7d,\n    execsEngaged30d,\n    execActivities30d,\n    peopleEngaged30d,\n    closedLost,\n    meetingRatio: Math.round(meetingRatio * 1000) / 1000,\n    execRatio: Math.round(execRatio * 1000) / 1000,\n    emailResponsiveness: Math.round(emailResponsiveness * 1000) / 1000,\n    contactVelocityProxy: Math.round(contactVelocityProxy * 1000) / 1000,\n    stakeholderBreadth: Math.round(stakeholderBreadth * 100) / 100\n  });\n}\n\n// Sort by closedLost descending, take top 30\nresults.sort((a, b) => b.closedLost - a.closedLost);\nconst top30 = results.slice(0, 30);\n\nconsole.log(`\u2705 Extracted ${results.length} total losers, returning top ${top30.length} by closed-lost count`);\ntop30.forEach((l, idx) => {\n  if (idx < 5) console.log(`  ${idx + 1}. ${l.accountName} - Lost: ${l.closedLost} - MeetingRatio: ${l.meetingRatio} - ExecRatio: ${l.execRatio}`);\n});\n\nreturn [{ json: { losers: top30, totalLosers: top30.length } }];\n"
      },
      "id": "e7580697-eeee-4091-a2b3-aabbccddeeff",
      "name": "Extract Loser Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3016,
        2000
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Select Top 15 Winners for MCP Deep Dive\n * Strategy: Sort by annual_revenue, split into 3 tiers (top, mid, bottom), take 5 from each.\n * This ensures we capture patterns across deal sizes, not just enterprise.\n */\n\nconst winnersData = $('Extract Winner Metrics').first().json;\nconst winners = winnersData.winners || [];\n\nif (winners.length === 0) {\n  console.log('\u26a0\ufe0f No winners available for deep dive');\n  return [{ json: { _empty: true } }];\n}\n\nconsole.log(`\ud83c\udfaf Select Top 15 Winners: Starting with ${winners.length} winners`);\n\n// Sort by annual revenue descending\nconst sorted = [...winners].sort((a, b) => (b.annualRevenue || 0) - (a.annualRevenue || 0));\n\n// Split into 3 tiers\nconst tierSize = Math.ceil(sorted.length / 3);\nconst topTier = sorted.slice(0, tierSize);\nconst midTier = sorted.slice(tierSize, tierSize * 2);\nconst bottomTier = sorted.slice(tierSize * 2);\n\nconsole.log(`  Top tier (${topTier.length} accounts): Revenue range $${topTier[topTier.length - 1]?.annualRevenue || 0} - $${topTier[0]?.annualRevenue || 0}`);\nconsole.log(`  Mid tier (${midTier.length} accounts): Revenue range $${midTier[midTier.length - 1]?.annualRevenue || 0} - $${midTier[0]?.annualRevenue || 0}`);\nconsole.log(`  Bottom tier (${bottomTier.length} accounts): Revenue range $${bottomTier[bottomTier.length - 1]?.annualRevenue || 0} - $${bottomTier[0]?.annualRevenue || 0}`);\n\n// Take 5 from each tier\nconst selected = [\n  ...topTier.slice(0, 5),\n  ...midTier.slice(0, 5),\n  ...bottomTier.slice(0, 5)\n].slice(0, 15);\n\nconsole.log(`\u2705 Selected ${selected.length} accounts for MCP deep dive:`);\nselected.forEach((a, idx) => {\n  console.log(`  ${idx + 1}. ${a.accountName} - Revenue: $${(a.annualRevenue || 0).toLocaleString()} - Won: ${a.closedWon}`);\n});\n\n// Output as individual items for sequential processing\nreturn selected.map(a => ({ json: a }));\n"
      },
      "id": "f8697081-ffff-4091-a2b3-aabbccddeeff",
      "name": "Select Top 15 Winners",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2568,
        2300
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "01234567-0101-4091-a2b3-aabbccddeeff",
      "name": "Loop Over Winners",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3.1,
      "position": [
        2792,
        2300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the activity timeline for account \"{{ $json.accountName }}\" (People.ai Account ID: {{ $json.accountId }}).\n\nUse the People.ai MCP tools:\n1. Call get_recent_account_activity to pull the last 90 days of activity\n2. Call get_engaged_people to see who's involved\n\nFor this account, extract:\n- Total meetings in last 90 days and their cadence (weekly? bi-weekly? sporadic?)\n- Meeting-to-email ratio\n- Number of unique external contacts and their seniority mix\n- Whether new stakeholders were introduced over time (committee formation)\n- Email responsiveness pattern (bi-directional or one-way?)\n- Any executive engagement pattern (when did execs enter, how often?)\n\nOutput as structured JSON:\n{\n  \"account_name\": \"{{ $json.accountName }}\",\n  \"meetings_90d\": N,\n  \"meeting_cadence\": \"weekly/biweekly/sporadic/declining\",\n  \"meeting_ratio\": 0.XX,\n  \"unique_contacts\": N,\n  \"exec_contacts\": N,\n  \"exec_ratio\": 0.XX,\n  \"committee_formed\": true/false,\n  \"new_stakeholders_last_30d\": N,\n  \"email_responsiveness\": 0.XX,\n  \"exec_entry_timing\": \"early/mid/late/never\",\n  \"engagement_arc\": \"accelerating/steady/front-loaded/sporadic\"\n}",
        "options": {
          "systemMessage": "You are a sales engagement analyst specializing in activity pattern recognition. Analyze People.ai data to extract structured behavioral patterns. Always output valid JSON."
        }
      },
      "id": "12345678-0202-4091-a2b3-aabbccddeeff",
      "name": "MCP Deep Dive Analysis",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3016,
        2300
      ],
      "alwaysOutputData": true,
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3032,
        2500
      ],
      "id": "23456789-0303-4091-a2b3-aabbccddeeff",
      "name": "Chat Model Deep Dive",
      "credentials": {
        "anthropicApi": {
          "id": "rlAz7ZSl4y6AwRUq",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.people.ai/mcp",
        "authentication": "multipleHeadersAuth",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        3160,
        2500
      ],
      "id": "3456789a-0404-4091-a2b3-aabbccddeeff",
      "name": "MCP Client Deep Dive",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "wvV5pwBeIL7f2vLG",
          "name": "People.ai MCP Multi-Header"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Parse Deep Dive Results\n * Extract JSON from each AI response, building up an array of deep dive results.\n */\n\nconst aiOutput = $input.first().json.output || $input.first().json.text || $input.first().json.response || JSON.stringify($input.first().json);\n\nconsole.log('\ud83d\udd0d Parsing deep dive AI response...');\n\n// Try to extract JSON from the response\nlet parsed = null;\n\n// Try direct JSON parse\ntry {\n  parsed = JSON.parse(aiOutput);\n} catch (e) {\n  // Try to find JSON block in the text\n  const jsonMatch = aiOutput.match(/\\{[\\s\\S]*?\"account_name\"[\\s\\S]*?\\}/i);\n  if (jsonMatch) {\n    try {\n      parsed = JSON.parse(jsonMatch[0]);\n    } catch (e2) {\n      console.log('\u26a0\ufe0f Could not parse JSON from AI response, using raw text');\n    }\n  }\n}\n\nif (parsed) {\n  console.log(`\u2705 Parsed deep dive for: ${parsed.account_name || 'unknown'}`);\n  return [{ json: parsed }];\n} else {\n  // Return a structured placeholder with what we can extract\n  console.log('\u26a0\ufe0f Returning raw AI output as fallback');\n  return [{ json: { account_name: 'Parse Error', raw_output: aiOutput, meetings_90d: 0, meeting_cadence: 'unknown', meeting_ratio: 0, unique_contacts: 0, exec_contacts: 0, exec_ratio: 0, committee_formed: false, new_stakeholders_last_30d: 0, email_responsiveness: 0, exec_entry_timing: 'unknown', engagement_arc: 'unknown' } }];\n}\n"
      },
      "id": "456789ab-0505-4091-a2b3-aabbccddeeff",
      "name": "Parse Deep Dive Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3240,
        2300
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Aggregate Deep Dive Results\n * Collects all deep dive results from the loop into a single array.\n */\n\nconst items = $input.all();\n\nconsole.log(`\ud83d\udcca Aggregating ${items.length} deep dive results`);\n\nconst deepDiveResults = items\n  .filter(item => !item.json._empty && item.json.account_name !== 'Parse Error')\n  .map(item => item.json);\n\nconsole.log(`\u2705 Aggregated ${deepDiveResults.length} valid deep dive results`);\n\ndeepDiveResults.forEach((dd, idx) => {\n  console.log(`  ${idx + 1}. ${dd.account_name} - Cadence: ${dd.meeting_cadence} - Arc: ${dd.engagement_arc}`);\n});\n\nreturn [{ json: { deepDiveResults, totalDeepDives: deepDiveResults.length } }];\n"
      },
      "id": "56789abc-0606-4091-a2b3-aabbccddeeff",
      "name": "Aggregate Deep Dive Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3464,
        2300
      ],
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3688,
        2000
      ],
      "id": "6789abcd-0707-4091-a2b3-aabbccddeeff",
      "name": "Merge All Data"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Prepare data for the Win Pattern Fingerprint AI analysis.\n * Merges winners, losers, and deep dive data into a single prompt-ready payload.\n */\n\nconst items = $input.all();\nconsole.log(`\ud83d\udcca Merge All Data: Processing ${items.length} inputs`);\n\nconst output = {\n  winners: [],\n  losers: [],\n  deepDiveResults: [],\n  totalWinners: 0,\n  totalLosers: 0,\n  totalDeepDives: 0\n};\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i].json;\n  console.log(`  Input ${i + 1}:`, Object.keys(item));\n\n  if (item.winners) {\n    output.winners = item.winners || [];\n    output.totalWinners = item.totalWinners || 0;\n    console.log(`\u2705 Found winners: ${output.totalWinners}`);\n  }\n\n  if (item.losers) {\n    output.losers = item.losers || [];\n    output.totalLosers = item.totalLosers || 0;\n    console.log(`\u2705 Found losers: ${output.totalLosers}`);\n  }\n\n  if (item.deepDiveResults) {\n    output.deepDiveResults = item.deepDiveResults || [];\n    output.totalDeepDives = item.totalDeepDives || 0;\n    console.log(`\u2705 Found deep dives: ${output.totalDeepDives}`);\n  }\n}\n\nconsole.log(`\\n\ud83d\udce6 Merged Data Summary:`);\nconsole.log(`   \ud83c\udfc6 Winners: ${output.totalWinners} accounts`);\nconsole.log(`   \u274c Losers: ${output.totalLosers} accounts`);\nconsole.log(`   \ud83d\udd0d Deep Dives: ${output.totalDeepDives} accounts`);\n\nreturn [{ json: output }];\n"
      },
      "id": "789abcde-0808-4091-a2b3-aabbccddeeff",
      "name": "Format Merged Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3912,
        2000
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an ICP analyst generating a Win Pattern Fingerprint by comparing closed-won accounts against closed-lost accounts.\n\n## WINNERS COHORT (accounts that bought)\n{{ JSON.stringify($json.winners, null, 2) }}\n\n## LOSERS COHORT (accounts that did NOT buy)\n{{ JSON.stringify($json.losers, null, 2) }}\n\n## DEEP DIVE \u2014 Activity Timeline Analysis ({{ $json.totalDeepDives }} winner accounts)\n{{ JSON.stringify($json.deepDiveResults, null, 2) }}\n\n## YOUR TASK\n\nCompare the two cohorts across every behavioral dimension and identify the patterns that MOST distinguish winners from losers. This is not about engagement volume \u2014 it's about engagement QUALITY and PATTERN.\n\nFor each dimension, compute:\n- Winner median and range\n- Loser median and range\n- The GAP (how much better are winners?)\n- Statistical significance (is this a real pattern or noise?)\n\nAlso analyze the deep dive timelines to identify:\n- When do executives typically enter the conversation for winners?\n- What does the meeting cadence look like for winners vs what we'd expect for losers?\n- Do winners show committee formation (new stakeholders over time)?\n- What's the engagement arc? (accelerating, steady, front-loaded)\n\n## OUTPUT FORMAT\n\n\ud83c\udfaf WIN PATTERN FINGERPRINT\nCalibrated: {{ new Date().toISOString().split('T')[0] }}\nBased on: {{ $json.totalWinners }} winners vs {{ $json.totalLosers }} losers, last 12 months\nDeep dive: {{ $json.totalDeepDives }} winner activity timelines analyzed\n\n\ud83d\udcca BEHAVIORAL BENCHMARKS\n\n| Dimension | Winner Median | Winner Range | Loser Median | Gap | Signal Strength |\n|-----------|--------------|-------------|-------------|-----|-----------------|\n| Meeting Quality Ratio | X% | X-X% | X% | +X% | Strong/Moderate/Weak |\n| Executive Coverage | X% | X-X% | X% | +X% | Strong/Moderate/Weak |\n| Stakeholder Breadth | X/wk | X-X/wk | X/wk | +X/wk | Strong/Moderate/Weak |\n| Email Responsiveness | X | X-X | X | +X | Strong/Moderate/Weak |\n| Contact Velocity | X | X-X | X | +X | Strong/Moderate/Weak |\n| Engagement Level | X | X-X | X | +X | Strong/Moderate/Weak |\n\n\ud83c\udfc6 TOP DIFFERENTIATORS (ranked by signal strength)\n\n1. **{Pattern}:** Winners show {X} vs losers at {Y}. This is the strongest predictor.\n2. **{Pattern}:** {Description}\n3. **{Pattern}:** {Description}\n4. **{Pattern}:** {Description}\n5. **{Pattern}:** {Description}\n\n\u2696\ufe0f RECOMMENDED SCORING WEIGHTS\nBased on the gap analysis, these weights should be applied:\n- Meeting Quality Ratio: {weight}% \u2014 {why}\n- Executive Coverage: {weight}% \u2014 {why}\n- Email Responsiveness: {weight}% \u2014 {why}\n- Contact Velocity: {weight}% \u2014 {why}\n- Stakeholder Breadth: {weight}% \u2014 {why}\n\n\ud83d\udcc8 WINNER ENGAGEMENT ARC (from deep dive)\n- Typical meeting cadence: {pattern}\n- Executive entry timing: {when execs typically appear}\n- Committee formation: {how new stakeholders are introduced}\n- Engagement shape: {accelerating/steady/front-loaded}\n\n\ud83d\udeab ANTI-PATTERNS (what losers look like)\n1. {Anti-pattern}: {Description with numbers}\n2. {Anti-pattern}: {Description}\n3. {Anti-pattern}: {Description}\n\n\ud83c\udfaf ICP SCORING THRESHOLDS\nBased on this analysis, an account should be scored:\n- STRONG FIT (>0.70): {criteria}\n- MODERATE FIT (0.40-0.70): {criteria}\n- WEAK FIT (<0.40): {criteria}",
        "options": {
          "systemMessage": "You are a world-class ICP analyst. Be precise, data-driven, and specific. Use actual numbers from the data. Every claim must be backed by the cohort comparison data."
        }
      },
      "id": "89abcdef-0909-4091-a2b3-aabbccddeeff",
      "name": "Generate Win Pattern Fingerprint",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        4136,
        2000
      ],
      "alwaysOutputData": true,
      "settings": {
        "alwaysOutputData": true
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        4152,
        2200
      ],
      "id": "9abcdef0-1010-4091-a2b3-aabbccddeeff",
      "name": "Chat Model Fingerprint",
      "credentials": {
        "anthropicApi": {
          "id": "rlAz7ZSl4y6AwRUq",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Format Slack Message\n * Formats the fingerprint output into Slack mrkdwn blocks.\n */\n\nconst aiOutput = $input.first().json.output || $input.first().json.text || $input.first().json.response || '';\n\nconsole.log('\ud83d\udce7 Formatting Slack message from fingerprint output...');\n\nconst userName = $node['Workflow Parameters'].json.user_name || 'there';\nconst today = new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });\n\nlet message = `\ud83c\udfaf *ICP Calibration Complete*\\n`;\nmessage += `Requested by @${userName} \\u2022 ${today}\\n\\n`;\nmessage += aiOutput;\nmessage += `\\n\\n\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\u2500\\n`;\nmessage += `_Save this fingerprint \\u2014 it's now the reference for ICP Fit scoring._\\n`;\nmessage += `_Powered by ICP Calibration \\u2022 People.ai + Claude AI_\\n`;\n\nconst userEmail = $node['Workflow Parameters'].json.user_email;\nif (userEmail) {\n  message += `_\\ud83d\\udce7 Full HTML report also sent to ${userEmail}_\\n`;\n}\n\nconsole.log(`\u2705 Slack message formatted: ${message.length} characters`);\n\nreturn [{\n  json: {\n    message,\n    rawFingerprint: aiOutput\n  }\n}];\n"
      },
      "id": "abcdef01-1111-4091-a2b3-aabbccddeeff",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4360,
        1868
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Workflow Parameters'].json.response_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ response_type: 'in_channel', text: $json.message, unfurl_links: false, unfurl_media: false }) }}",
        "options": {}
      },
      "id": "bcdef012-1212-4091-a2b3-aabbccddeeff",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4584,
        1768
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Format Email Digest - HTML version with styled tables\n */\n\nconst aiOutput = $input.first().json.rawFingerprint || $input.first().json.message || '';\n\nconst userName = $node['Workflow Parameters'].json.user_name || 'there';\nconst today = new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' });\n\n// Convert markdown-style formatting to HTML\nfunction markdownToHtml(text) {\n  let html = text\n    // Bold\n    .replace(/\\*\\*(.+?)\\*\\*/g, '<strong>$1</strong>')\n    // Italic\n    .replace(/\\*(.+?)\\*/g, '<em>$1</em>')\n    // Headers with emoji\n    .replace(/^(\\ud83c[\\udf00-\\udfff]|\\ud83d[\\udc00-\\ude4f]|\\ud83d[\\ude80-\\udeff]|[\\u2600-\\u26FF]|[\\u2700-\\u27BF]|\\u2696|\\ud83d\\udeab)\\s*(.+)$/gm, '<h2 style=\"color: #1f2937; font-size: 20px; margin: 24px 0 12px 0; border-bottom: 2px solid #7c3aed; padding-bottom: 8px;\">$1 $2</h2>')\n    // Tables\n    .replace(/\\|(.+)\\|/g, function(match) {\n      const cells = match.split('|').filter(c => c.trim());\n      if (cells.every(c => /^[\\s-:]+$/.test(c))) return ''; // separator row\n      const isHeader = cells.every(c => /^\\s*[A-Z]/.test(c.trim()));\n      const tag = isHeader ? 'th' : 'td';\n      const style = isHeader\n        ? 'style=\"padding: 10px 12px; background-color: #7c3aed; color: white; font-size: 12px; text-align: left; font-weight: 600;\"'\n        : 'style=\"padding: 10px 12px; border-bottom: 1px solid #e5e7eb; font-size: 13px;\"';\n      return '<tr>' + cells.map(c => `<${tag} ${style}>${c.trim()}</${tag}>`).join('') + '</tr>';\n    })\n    // Bullet points\n    .replace(/^-\\s+(.+)$/gm, '<li style=\"margin-bottom: 6px; font-size: 14px;\">$1</li>')\n    .replace(/^(\\d+)\\.\\s+(.+)$/gm, '<li style=\"margin-bottom: 8px; font-size: 14px;\"><strong>$1.</strong> $2</li>')\n    // Newlines\n    .replace(/\\n\\n/g, '</p><p style=\"margin: 12px 0; font-size: 14px; line-height: 1.6; color: #374151;\">')\n    .replace(/\\n/g, '<br>');\n\n  // Wrap table rows\n  if (html.includes('<tr>')) {\n    html = html.replace(/(<tr>.*?<\\/tr>)+/gs, '<table style=\"width: 100%; border-collapse: collapse; margin: 16px 0; border: 1px solid #e5e7eb; border-radius: 8px; overflow: hidden;\">$&</table>');\n  }\n\n  // Wrap list items\n  if (html.includes('<li')) {\n    html = html.replace(/(<li[^>]*>.*?<\\/li>)+/gs, '<ul style=\"margin: 12px 0; padding-left: 24px;\">$&</ul>');\n  }\n\n  return html;\n}\n\nconst bodyHtml = markdownToHtml(aiOutput);\n\nlet html = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>ICP Calibration - Win Pattern Fingerprint</title>\n</head>\n<body style=\"margin: 0; padding: 0; background-color: #f3f4f6; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif;\">\n  <div style=\"max-width: 800px; margin: 0 auto; background-color: #ffffff;\">\n    <div style=\"background: linear-gradient(135deg, #7c3aed 0%, #5b21b6 100%); color: #ffffff; padding: 40px 32px; text-align: center;\">\n      <h1 style=\"margin: 0; font-size: 32px; font-weight: 700;\">\ud83c\udfaf ICP Calibration Complete</h1>\n      <p style=\"margin: 8px 0 0 0; font-size: 16px; opacity: 0.9;\">Win Pattern Fingerprint \\u2022 ${today}</p>\n      <p style=\"margin: 4px 0 0 0; font-size: 14px; opacity: 0.75;\">Requested by ${userName}</p>\n    </div>\n    <div style=\"padding: 32px;\">\n      <p style=\"margin: 12px 0; font-size: 14px; line-height: 1.6; color: #374151;\">${bodyHtml}</p>\n    </div>\n    <div style=\"background-color: #fef3c7; border-left: 4px solid #f59e0b; padding: 16px 32px; margin: 0 32px 32px 32px; border-radius: 4px;\">\n      <p style=\"margin: 0; font-size: 14px; color: #92400e; font-weight: 600;\">\\ud83d\\udcbe Save this fingerprint</p>\n      <p style=\"margin: 4px 0 0 0; font-size: 13px; color: #92400e;\">This is now the reference for ICP Fit scoring. Use the recommended weights and thresholds when evaluating new accounts.</p>\n    </div>\n    <div style=\"background-color: #f9fafb; padding: 24px 32px; border-top: 1px solid #e5e7eb; text-align: center;\">\n      <p style=\"margin: 0 0 8px 0; color: #6b7280; font-size: 13px;\">Powered by ICP Calibration \\u2022 People.ai + Claude AI \\u2022 ${today}</p>\n      <p style=\"margin: 0; color: #9ca3af; font-size: 12px;\">This is an automated analysis based on closed-won vs closed-lost account activity data</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nconsole.log(`\ud83d\udce7 Email HTML formatted: ${html.length} characters`);\n\nreturn [{\n  json: {\n    htmlEmail: html,\n    subject: `ICP Calibration - Win Pattern Fingerprint - ${today}`\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4360,
        2132
      ],
      "id": "cdef0123-1313-4091-a2b3-aabbccddeeff",
      "name": "Format Email Digest"
    },
    {
      "parameters": {
        "fromEmail": "scott.metcalf@people.ai",
        "toEmail": "={{ $node[\"Workflow Parameters\"].json.user_email }}",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.htmlEmail }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4584,
        2132
      ],
      "id": "def01234-1414-4091-a2b3-aabbccddeeff",
      "name": "Send Email Digest",
      "credentials": {
        "smtp": {
          "id": "PfRzHYltm16I6dan",
          "name": "SMTP(scott.metcalf@people.ai)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slash Command Webhook": {
      "main": [
        [
          {
            "node": "Acknowledge Slash Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge Slash Command": {
      "main": [
        [
          {
            "node": "Extract Slash Command Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Slash Command Data": {
      "main": [
        [
          {
            "node": "Get User Email from Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Email from Slack": {
      "main": [
        [
          {
            "node": "Merge User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge User Context": {
      "main": [
        [
          {
            "node": "Workflow Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Parameters": {
      "main": [
        [
          {
            "node": "Get People.ai Auth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get People.ai Auth Token": {
      "main": [
        [
          {
            "node": "Get Winners",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Losers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Winners": {
      "main": [
        [
          {
            "node": "Parse Winners CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Winners CSV": {
      "main": [
        [
          {
            "node": "Extract Winner Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Winner Metrics": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select Top 15 Winners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Losers": {
      "main": [
        [
          {
            "node": "Parse Losers CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Losers CSV": {
      "main": [
        [
          {
            "node": "Extract Loser Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Loser Metrics": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Select Top 15 Winners": {
      "main": [
        [
          {
            "node": "Loop Over Winners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Winners": {
      "main": [
        [
          {
            "node": "Aggregate Deep Dive Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MCP Deep Dive Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Deep Dive Analysis": {
      "main": [
        [
          {
            "node": "Parse Deep Dive Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model Deep Dive": {
      "ai_languageModel": [
        [
          {
            "node": "MCP Deep Dive Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client Deep Dive": {
      "ai_tool": [
        [
          {
            "node": "MCP Deep Dive Analysis",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse Deep Dive Results": {
      "main": [
        [
          {
            "node": "Loop Over Winners",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Deep Dive Results": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Format Merged Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Merged Data": {
      "main": [
        [
          {
            "node": "Generate Win Pattern Fingerprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Win Pattern Fingerprint": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model Fingerprint": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Win Pattern Fingerprint",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Post to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email Digest": {
      "main": [
        [
          {
            "node": "Send Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "icp-cal-v1-2026-0330-0001",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4dd7a54cbf3c3ec35a460541c7470b86ad06fde74ed99585c44045ec74f97461"
  },
  "id": "ICP-Calibration-v1",
  "tags": []
}